<div ng-if="cardAction.effect.show"
	style="white-space: normal;" class="text-8">
	<div fs-dropdown style="position: absolute" stop-event>
		<div class="fs-dropdown-toggle card-icon">
			(+)
		</div>
		<div class="fs-dropdown-panel" stop-click="1">
			<div>
				<ul>
					<li><label>
						<input type="radio" value="none"
							ng-model="cardAction.effect.list.listType"> None
					</label></li>
					<li><label>
						<input type="radio" value="skillCheck"
							ng-model="cardAction.effect.list.listType"> Skill Check
					</label></li>
					<li><label>
						<input type="radio" value="bullets2"
							ng-model="cardAction.effect.list.listType"> Bullet List (2)
					</label></li>
					<li><label>
						<input type="radio" value="bullets3"
							ng-model="cardAction.effect.list.listType"> Bullet List (3)
					</label></li>
					<li><label>
						<input type="radio" value="bullets4"
							ng-model="cardAction.effect.list.listType"> Bullet List (4)
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div fs-block-input="effect-content"
		class="fill-width" panel="panel"
		leadertext="'Effect:'"
		blocktext="card.effect.content"
		defaultblock="'Effect details.'"></div>
	
	<div ng-if="cardAction.effect.list.listType !== 'none'">
		
		<ul class="card-list" ng-if="cardAction.effect.list.listType === 'bullets2' 
				|| cardAction.effect.list.listType === 'bullets3'
				|| cardAction.effect.list.listType === 'bullets4'">
			<li>
				<div fs-block-input="effect-list-1"
					class="fill-width" panel="panel"
					bullettext="cardAction.effect.list.items[0]"
					defaultbullet="'List item 1.'"></div>
			</li>
			<li>
				<div fs-block-input="effect-list-2"
					class="fill-width" panel="panel"
					bullettext="cardAction.effect.list.items[1]"
					defaultbullet="'List item 2.'"></div>
			</li>
			<li ng-if="cardAction.effect.list.listType === 'bullets3'
				|| cardAction.effect.list.listType === 'bullets4'">
				<div fs-block-input="effect-list-3"
					class="fill-width" panel="panel"
					bullettext="cardAction.effect.list.items[2]"
					defaultbullet="'List item 3.'"></div>
			</li>
			<li class="row" ng-if="cardAction.effect.list.listType === 'bullets4'">
				<div fs-block-input="effect-list-4"
					class="fill-width" panel="panel"
					bullettext="cardAction.effect.list.items[3]"
					defaultbullet="'List item 4.'"></div>
			</li>
		</ul>
		<ul class="card-list" ng-show="cardAction.effect.list.listType === 'skillCheck'">
			<li>
				<div fs-block-input="highest-result"
					class="fill-width" panel="panel"
					leadertext="'12 or higher:'"
					blocktext="cardAction.effect.list.items[0]"
					defaultblock="'Highest result.'"></div>
			</li>
			<li>
				<div fs-block-input="moderate-result"
					class="fill-width" panel="panel"
					leadertext="'11 to 7:'"
					blocktext="cardAction.effect.list.items[1]"
					defaultblock="'Moderate result.'"></div>
			</li>
			<li>
				<div fs-block-input="effect-list-4"
					class="fill-width" panel="panel"
					leadertext="'11 to 7:'"
					blocktext="cardAction.effect.list.items[2]"
					defaultblock="'Moderate result.'"></div>
			</li>
		</ul>
		
	</div>
</div>
