<div class="title-row text-8" ng-if="cardAction.usage !== 'Defense'">
	<div class="title-block">
		<strong class="pull-left">
			{{cardAction.usage}}<span ng-if="cardAction.attack.show && cardAction.attack.attackType">, {{cardAction.attack.attackType}}</span><span ng-if="cardAction.reflexive && cardAction.attack.attackType === 'Melee'">, Reflexive</span><span ng-if="cardAction.thrown && cardAction.attack.attackType === 'Ranged'">, Thrown</span>
		</strong>
	</div>
	<div class="title-block">
		<div class="pull-right" ng-if="panel.locked">
			<strong>
				{{cardAction.frequency}}
			</strong>
			<strong ng-if="!cardAction.frequency">
				[Frequency]
			</strong>
		</div>
		<div class="pull-right" fs-dropdown id="action-frequency" stop-event>
			<div class="fs-dropdown-toggle">
				<strong>{{cardAction.frequency}}</strong>
				<strong ng-if="!cardAction.frequency">[Frequency]</strong>
			</div>
			<div class="fs-dropdown-panel" stop-click="1">
				<div>
					<ul>
						<li>Action Frequency</li>
						<li ng-repeat="frequency in dataSrvc.actionFrequency"><label>
							<input type="radio" value="{{frequency}}"
								ng-model="cardAction.frequency">
							{{frequency}}
						</label></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>