<div ng-if="!panel.locked" fs-dropdown id="action-icon" style="position: absolute" stop-event>
	<div class="fs-dropdown-toggle card-icon">
		(+)
	</div>
	<div class="fs-dropdown-panel" style="width: 15em;" stop-click>
		<div>
			<ul class="col-xs-5 text-8">
				<li class="dropdown-header">Action Usage</li>
				<li><label>
					<input type="radio" ng-model="cardAction.usage" value="Default"> Default
				</label></li>
				<li><label>
					<input type="radio" ng-model="cardAction.usage" value="Single-use"> Single-use
				</label></li>
			</ul>
			<ul class="col-xs-7 text-8">
				<li role="presentation" class="dropdown-header">Action Entries</li>
				<li><label>
					<input type="checkbox" ng-model="cardAction.effect.show"> Effect
				</label></li>
				<li><label>
					<input type="checkbox" ng-model="cardAction.attack.show"> Attack
				</label></li>
			</ul>
		</div>
	</div>
</div>