[fs-dropdown] {
	color: green;
}

.fs-dropdown-toggle {
	cursor: pointer;
}

.fs-dropdown-panel {
	position: absolute;
	z-index: 1000;
	background-color: darkgrey;
	overflow: hidden;
	height: 0;
	box-sizing: border-box;
	-webkit-transition: height .5s ease-out;
	-moz-transition: height .5s ease-out;
	-o-transition: height .5s ease-out;
	-ms-transition: height .5s ease-out;
	transition: height .5s ease-out;
}

.fs-dropdown-panel > div {
	position:absolute;
  bottom:0;
}

.fs-dropdown-panel ul {
	list-style-type: none;
	padding: 0.3em;
	margin: 0;
}

.fs-dropdown-panel li {
	cursor: pointer;
	list-style-type: none;
	cursor: pointer;
	white-space: nowrap;
}

.fs-dropdown-panel li > a {
	display: block;
}