[fs-dropdown] {
	border: 1px dotted black;
	display: inline-block;
}

.fs-dropdown {
	margin: 0;
	padding: 0;
}

.fs-dropdown-toggle {
	cursor: pointer;
}

.fs-dropdown-panel {
	position: absolute;
	z-index: 7000;
	background-color: darkgrey;
	overflow: hidden;
	height: 0;
	box-sizing: border-box;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.fs-dropdown-panel.slideup > div {
	margin-top: 0;
}

.fs-dropdown-panel.anchor-top > div {
	position:absolute;
	top:0;
}

.fs-dropdown-panel.anchor-bottom > div {
	position:absolute;
	bottom:0;
}

.fs-dropdown-panel ul {
	list-style-type: none;
	padding: 0.1em;
	margin: 0;
}

.fs-dropdown-panel li {
	cursor: pointer;
	list-style-type: none;
	white-space: nowrap;
	
}

.fs-dropdown-panel li > a {
	display: block;
}

.fs-dropdown-panel input, .fs-dropdown-panel textarea {
	box-sizing: border-box;
	font: inherit;
	width: 100%;
	padding: 0;
	margin: 0;
}

.fs-dropdown-panel textarea {
	resize: none;
}