<fs-dropdown id="fs-numpicker-dropdown" class="keep-open fill-width span-width" stop-event>
	<div class="fs-dropdown-toggle">
		<strong style="display: inline-block; width: 35%">{{numlabel}}</strong> <span style="display: inline-block; width: 65%" class="text-center">{{numvalue}}</span>
	</div>
	<div class="fs-dropdown-panel">
		<div fs-numpicker
			numvalue="numvalue"
			numvaluemin="numvaluemin"
			numvaluemax="numvaluemax"
			numdefault="dumdefault"
			numdelay="numdelay"></div>
	</div>
</fs-dropdown>