<fs-grid-input class="inline-flex" input-model="vm.action.name"
	input-type="'text'" column-shown="vm.shownColumns.name"></fs-grid-input>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.target.width}"
	ng-if="vm.shownColumns.target.shown">
	<div class="inline-flex">
		<fs-select style="flex: 2"
			selection="vm.action.targetType"
			options="[vm.dataSrvc.targetTypes]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="vm.action.targetType === 'Close'"
			selection="vm.action.targetDetail"
			options="[vm.dataSrvc.closeDetails]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="vm.action.targetType === 'Close Area'"
			selection="vm.action.targetDetail"
			options="[vm.dataSrvc.closeAreaDetails]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="vm.action.targetType === 'Distant'"
			selection="vm.action.targetDetail"
			options="[vm.dataSrvc.distantDetails]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="vm.action.targetType === 'Distant Area'"
			selection="vm.action.targetDetail"
			options="[vm.dataSrvc.distantAreaDetails]"></fs-select>
	</div>
	<fs-grid-resize resize-id="Target {{vm.actionId}}"
		resize-width="vm.shownColumns.target.width"></fs-grid-resize>
</div>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.usage.width}"
	ng-if="vm.shownColumns.usage.shown">
	<fs-select selection="vm.action.usage"
		options="[['Default', 'Single-use']]"></fs-select>
	<fs-grid-resize resize-id="Usage {{vm.actionId}}"
		resize-width="vm.shownColumns.usage.width"></fs-grid-resize>
</div>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.frequency.width}"
	ng-if="vm.shownColumns.frequency.shown">
	<div class="fill-width">
		<fs-select ng-if="!vm.card.itemSlot"
			selection="vm.action.frequency"
			options="[vm.dataSrvc.actionCount]"></fs-select>

		<fs-select ng-if="vm.dataSrvc.nonDualItemSlots.indexOf(vm.card.itemSlot) > -1"
			selection="vm.action.frequency"
			options="[vm.dataSrvc.actionCount]"></fs-select>
			
		<fs-select ng-if="vm.dataSrvc.dualItemSlots.indexOf(vm.card.itemSlot) > -1"
			selection="vm.action.frequency"
			options="[vm.dataSrvc.dualItemCount]"></fs-select>
	</div>
	<fs-grid-resize resize-id="Frequency {{vm.actionId}}"
		resize-width="vm.shownColumns.frequency.width"></fs-grid-resize>
</div>

<fs-grid-numpicker
	column-shown="vm.shownColumns.count"
	numvalue="vm.action.count"
	numvaluemin="2"
	numvaluemax="6"
	numdefault="4"
	numdelay="500">
</fs-grid-numpicker>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.effect.nodes.customEffect.width}"
	ng-if="vm.shownColumns.effect.shown &&
		vm.shownColumns.effect.nodes.customEffect.shown">
	<textarea ng-model="vm.action.effect.customEffect" style="flex: 1"></textarea>
	<fs-grid-resize resize-id="Custom Effect {{vm.actionId}}"
		resize-width="vm.shownColumns.effect.nodes.customEffect.width"></fs-grid-resize>
</div>

<fs-grid-numpicker
	ng-if="vm.shownColumns.effect.shown"
	column-shown="vm.shownColumns.effect.nodes.moveEffect"
	numvalue="vm.action.effect.moveEffect"
	numvaluemin="0"
	numvaluemax="3"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.effect.nodes.listItem1.width}"
	ng-if="vm.shownColumns.effect.shown &&
		vm.shownColumns.effect.nodes.listItem1.shown">
	<div class="flex-column fill-width">
		<input type="text" ng-model="vm.action.effect.list[0].leader" style="flex: 0;">
		<textarea ng-model="vm.action.effect.list[0].content" style="flex: 1"></textarea>
	</div>
	<fs-grid-resize resize-id="List Item 1 {{vm.actionId}}"
		resize-width="vm.shownColumns.effect.nodes.listItem1.width"></fs-grid-resize>
</div>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.effect.nodes.listItem2.width}"
	ng-if="vm.shownColumns.effect.shown &&
		vm.shownColumns.effect.nodes.listItem2.shown">
	<div class="flex-column fill-width">
		<input type="text" ng-model="vm.action.effect.list[1].leader" style="flex: 0;">
		<textarea ng-model="vm.action.effect.list[1].content" style="flex: 1"></textarea>
	</div>
	<fs-grid-resize resize-id="List Item 2 {{vm.actionId}}"
		resize-width="vm.shownColumns.effect.nodes.listItem2.width"></fs-grid-resize>
</div>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.effect.nodes.listItem3.width}"
	ng-if="vm.shownColumns.effect.shown &&
		vm.shownColumns.effect.nodes.listItem3.shown">
	<div class="flex-column fill-width">
		<input type="text" ng-model="vm.action.effect.list[2].leader" style="flex: 0;">
		<textarea ng-model="vm.action.effect.list[2].content" style="flex: 1"></textarea>
	</div>
	<fs-grid-resize resize-id="List Item 3 {{vm.actionId}}"
		resize-width="vm.shownColumns.effect.nodes.listItem3.width"></fs-grid-resize>
</div>

<!-- Action Attack -->

<div class="inline-flex" ng-style="{'width': vm.shownColumns.attackType.width}"
	ng-if="vm.shownColumns.attackType.shown">
	<fs-select
		selection="vm.action.attackType"
		options="[vm.dataSrvc.attackTypes]"></fs-select>
	<fs-grid-resize resize-id="Attack Type {{vm.actionId}}"
		resize-width="vm.shownColumns.attackType.width"></fs-grid-resize>
</div>

<div class="inline-flex" ng-style="{'width': vm.shownColumns.attackRoll.width}"
	ng-if="vm.shownColumns.attackRoll.shown">
	<fs-select style="flex: 4"
		selection="vm.action.dice_a"
		options="[vm.dataSrvc.abilities]"></fs-select>
	<div class="text-center" style="flex: 1">+</div>
	<fs-select style="flex: 4"
		selection="vm.action.dice_b"
		options="[vm.dataSrvc.abilities]"></fs-select>
	<fs-select style="flex: 2"
		selection="vm.action.attackModifier"
		toggle-header="'+ / -'"
		options="[[' + 1',' - 1']]"></fs-select>
	<div class="text-center" style="flex: 2">vs.</div>
	<fs-select style="flex: 6"
		selection="vm.action.versus"
		options="[vm.dataSrvc.defenseTypes]"></fs-select>
	<fs-grid-resize resize-id="Attack Roll {{vm.actionId}}"
		resize-width="vm.shownColumns.attackRoll.width"></fs-grid-resize>
</div>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.damage"
	numvalue="vm.action.success.damage"
	numvaluemin="2"
	numvaluemax="14"
	numdefault="8"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.enableMove"
	numvalue="vm.action.success.enableMove"
	numvaluemin="0"
	numvaluemax="3"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.forceMove"
	numvalue="vm.action.success.forceMove"
	numvaluemin="0"
	numvaluemax="3"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.enableAction"
	numvalue="vm.action.success.enableAction"
	numvaluemin="0"
	numvaluemax="5"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.negateInjury"
	numvalue="vm.action.success.negateInjury"
	numvaluemin="0"
	numvaluemax="5"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.forceAction"
	numvalue="vm.action.success.forceAction"
	numvaluemin="0"
	numvaluemax="5"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.attackCurse"
	numvalue="vm.action.success.attackCurse"
	numvaluemin="0"
	numvaluemax="5"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.expelCurse"
	numvalue="vm.action.success.expelCurse"
	numvaluemin="0"
	numvaluemax="5"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>

<fs-grid-numpicker
	ng-if="vm.shownColumns.attackSuccess.shown"
	column-shown="vm.shownColumns.attackSuccess.nodes.trapCurse"
	numvalue="vm.action.success.trapCurse"
	numvaluemin="0"
	numvaluemax="5"
	numdefault="0"
	numdelay="500">
</fs-grid-numpicker>


<div class="inline-flex" style="width: 20em"
	ng-if="vm.shownColumns.attackCriticalSuccess.shown">
	<fs-select
		selection="vm.action.criticalSuccess.damage" style="flex: 1"
		options="[vm.dataSrvc.damageDice]"></fs-select>
	<textarea ng-model="vm.action.criticalSuccess.effect"
		style="flex: 2"></textarea>
	<fs-grid-resize id="Attack Critical Success {{vm.actionId}}"
		resize-width="vm.shownColumns.attackCriticalSuccess.width"></fs-grid-resize>
</div>