<div class="fs-grid-row">
	<fs-select select-header="vm.rowLimit"
		selection="vm.rowLimit"
		options="[[2,4,8,16]]"></fs-select>
	{{vm.rowWidth()}}
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber'" ng-style="{'width': vm.rowWidth()}">
		{{card.name}}
	</div>
</div>


<!--
<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:0 | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:vm.rowLimit | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:vm.rowLimit*2 | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:vm.rowLimit*3 | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:vm.rowLimit*4 | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:vm.rowLimit*5 | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:vm.rowLimit*6 | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>

<div class="fs-grid-row">
	<div ng-repeat="card in vm.deck.cardList | orderBy: 'cardNumber' | startFrom:vm.rowLimit*7 | limitTo:vm.rowLimit">
		{{card.name}}
	</div>
</div>
-->