[fs-text] {
	border: 1px dotted black;
}

.fs-text-toggle, .fs-text-panel {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;
	opacity: 1;
}

.fs-text-toggle.ng-hide, .fs-text-panel.ng-hide {
	height: 0;
	opacity: 0;
}

.fs-text-panel {
	font: inherit;
	overflow: hidden;
	height: 1.4em !important;
	width: 100%;
	padding: 0;
	margin: -4px 0 0 0;
	border: none;
	background: transparent;
	
	
	
}