<div class="content-panel" id="choose-feature-card">
	<table class="fill-parent" fit-content>
		<tbody>
			<tr>
				<td style="vertical-align: top;">
					
					<span class="text-argos text-18"
						ng-class="{'text-14': card.cardType === 'Augment',
							'text-16': card.cardType === 'Origin',
							'text-narrow': card.cardType === 'Augment'}">
						{{card.cardType}}&nbsp;
					</span>
					
				</td>
			</tr>
			<tr>
				<td class="text-8" colspan="2" style="vertical-align: bottom;">
					<div>
						<div fs-modal-toggle stop-event="1"
							toggle-callback="modalSrvc.fetchCards(card, deck)"
							toggle-card="card" toggle-deck="deck" modal-deck="modalSrvc.modalDeck">
							{{card.cardType}} Level {{card.cardLevel}}
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>