<div class="outerTable" ng-controller="FeatureGridCtrl as vm">
	
	<div class="outerRow">
		<div class="outerCell" style="height: 25%; padding: 1em">
			<div class="innerTable">
				<div class="innerRow" style="">
					<div class="innerCell" style="">
						Deck Name: <input ng-model="vm.featureDeck.name">
					</div>
					<div class="innerCell" style="">
						<a href="#" ng-click="vm.saveDeck(vm.featureDeck)">Save Deck</a>
					</div>
				</div>
	
				<div class="innerRow" ng-if="vm.featureDeck.deckType !== 'Aspect'">
					<div class="innerCell" style="">
						<div fs-select toggle-header="'Dependencies'"
							selection-array="vm.featureDeck.dependencies"
							options="[vm.depList]"></div>
					</div>
					<div class="innerCell" style="">
						<div fs-select toggle-header="'Show Columns'"
							selection-array="vm.shownColumns"
							options="[['Name', 'Aspect', 'Aspect Type', 'Description', 'Benefit', 'Action 1', 'Action 2']]"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell" style="height: 75%; padding: 1em">
			<div style="height: 100%; width: 100%; border: 2px solid black">
				<div class="scrollDiv">
					<div class="innerTable">
						
						<div class="innerRow">
							<div class="innerCell"
								ng-show="vm.shownColumns.indexOf('Name') > -1">
								<b>Name</b>
							</div>
							<div class="innerCell"
								ng-show="vm.shownColumns.indexOf('Aspect') > -1"
								ng-if="vm.featureDeck.deckType !== 'Aspect'">
								<b>Aspect</b>
							</div>
							<div class="innerCell"
								ng-show="vm.shownColumns.indexOf('Aspect Type') > -1"
								ng-if="vm.featureDeck.deckType === 'Aspect'">
								<b>Aspect Type</b>
							</div>
							<div class="innerCell"
								ng-show="vm.shownColumns.indexOf('Description') > -1">
								<b>Description</b>
							</div>
							<div class="innerCell"
								ng-show="vm.shownColumns.indexOf('Benefit') > -1">
								<b>Benefit</b>
							</div>
							<div class="innerCell"
								ng-show="vm.shownColumns.indexOf('Action 1') > -1">
								<b>Action 1</b>
							</div>
							<div class="innerCell"
								ng-show="vm.shownColumns.indexOf('Action 2') > -1">
								<b>Action 2</b>
							</div>
							
						</div>
						
						<div class="innerRow" ng-repeat="card in vm.featureDeck.cardList" ng-init="card = card.cardData">
							<div class="innerCell" style="padding: 0"
								ng-show="vm.shownColumns.indexOf('Name') > -1">
								<input type="text" ng-model="card.name">
							</div>
							
							<div class="innerCell" style="padding: 0"
								ng-show="vm.shownColumns.indexOf('Aspect') > -1"
								ng-if="vm.featureDeck.deckType !== 'Aspect'">
								<div fs-select selection="card.aspect" 
									headers="['Archetypes','Allegiances','Races']"
									options="[vm.deckDependencies.archetypes,
										vm.deckDependencies.allegiances,
										vm.deckDependencies.races]"></div>
							</div>
							
							<div class="innerCell" style="padding: 0"
								ng-show="vm.shownColumns.indexOf('Aspect Type') > -1"
								ng-if="vm.featureDeck.deckType === 'Aspect'">
								<div fs-select selection="card.aspectType"
									options="[vm.dataSrvc.aspectTypes]"></div>
							</div>
							
							<div class="innerCell" style="padding: 0"
								ng-show="vm.shownColumns.indexOf('Description') > -1">
								<input type="checkbox" ng-model="card.description.show">
								<input type="text" ng-model="card.description.content">
							</div>
							
							<div class="innerCell" style="padding: 0"
								ng-show="vm.shownColumns.indexOf('Benefit') > -1">
								<input type="checkbox" ng-model="card.benefit.show">
								<input type="text" ng-model="card.benefit.content">
								<br>
								<input type="checkbox" ng-model="card.benefit.criticalSuccess.show">
								<input type="text" ng-model="card.benefit.criticalSuccess.content">
							</div>
							
							<div class="innerCell" style="padding: 0"
								ng-show="vm.shownColumns.indexOf('Action 1') > -1">
								<input type="checkbox" ng-model="card.actions[0].show">
								<label>Name: <input type="text" ng-model="card.actions[0].name"></label>
								<br>
								<div style="width: 45%; display: inline-block;">
									<div fs-select selection="card.actions[0].targetType"
										options="[vm.dataSrvc.targetTypes]"></div>
								</div>
								<div style="width: 45%; display: inline-block;">
									<div fs-select ng-show="card.actions[0].targetType === 'Close'"
										selection="card.actions[0].targetDetail"
										options="[vm.dataSrvc.closeDetails]"></div>
									<div fs-select ng-show="card.actions[0].targetType === 'Close Area'"
										selection="card.actions[0].targetDetail"
										options="[vm.dataSrvc.closeAreaDetails]"></div>
									<div fs-select ng-show="card.actions[0].targetType === 'Distant'"
										selection="card.actions[0].targetDetail"
										options="[vm.dataSrvc.distantDetails]"></div>
									<div fs-select ng-show="card.actions[0].targetType === 'Distant Area'"
										selection="card.actions[0].targetDetail"
										options="[vm.dataSrvc.distantAreaDetails]"></div>
								</div>
							</div>
							
							<div class="innerCell" style="padding: 0"
								ng-show="vm.shownColumns.indexOf('Action 2') > -1">
								<input type="checkbox" ng-model="card.actions[1].show">
								<input type="text" ng-model="card.actions[1].name">
								
							</div>
							
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>