<div class="outerTable">
	
	<div class="outerRow">
		<div class="outerCell">
			<b>Feature Deck Options</b><br><br>
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell">
			<b>Name</b><br>
			<input ng-model="deck.name">
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell" style="height: 20%; padding: 1em">
			<h4>Dependencies</h4>
			<label ng-repeat="dep in depList">
				<input
			    type="checkbox"
			    name="selectedDecks[]"
			    value="{{dep._id}}"
			    ng-checked="deck.dependencies.indexOf(dep._id) > -1"
			    ng-click="toggleDependency(deck, dep._id)">
			  {{dep.name}}
			  <br>
			</label>
			<div fs-select selection="deck.dependencies"
				options="[depList]"></div>
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell">
			<a href="#" ng-click="saveDeck(deck)">Save Deck</a>
		</div>
	</div>
	
</div>