<div class="content-panel" card-form>
	<table class="fill-parent" fit-content>
		<tbody>
			<tr>
				<td style="vertical-align: top;">
					<div card-header></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: top;">
					<div ng-if="card.description.show" style="margin: .25em">
						<div fs-block-input="description-input"
							class="fill-width" panel="panel"
							centertext="card.description.content"
							defaultcenter="'Descriptive text.'"></div>
						<br />
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: bottom;">
					
					<div ng-if="card.cardType === 'Item'" class="text-9">
						<div ng-if="card.durability.show" class="fill-width">
							<div fs-dropdown id="card-durability" class="fill-width text-8" stop-event>
								<div class="fs-dropdown-toggle">
									<strong>Durability Modifier: </strong>
									{{card.durability.modifier}}
								</div>
								<div class="fs-dropdown-panel">
									<div>
									<div class="text-center"><strong>Durability<br />Modifier</strong></div>
										<div fs-numpicker stop-click stop-event
											numvalue="card.durability.modifier"
											numvaluemin="0"
											numvaluemax="15"
											numdelay="200"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div ng-if="card.speed.show" class="fill-width">
							<div fs-dropdown id="card-speed" class="fill-width text-8" stop-event>
								<div class="fs-dropdown-toggle">
									<strong>Speed Modifier: </strong>
									{{card.speed.modifier}}
								</div>
								<div class="fs-dropdown-panel">
									<div>
										<div class="text-center"><strong>Speed<br />Modifier</strong></div>
										<div fs-numpicker stop-click stop-event
											numvalue="card.speed.modifier"
											numvaluemin="0"
											numvaluemax="15"
											numdelay="200"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div ng-if="card.finesse.show" class="fill-width">
							<div fs-dropdown id="card-finesse" class="fill-width text-8" stop-event>
								<div class="fs-dropdown-toggle">
									<strong>Finesse Modifier: </strong>
									{{card.finesse.modifier}}
								</div>
								<div class="fs-dropdown-panel">
									<div>
										<div class="text-center"><strong>Finesse<br />Modifier</strong></div>
										<div fs-numpicker stop-click stop-event
											numvalue="card.finesse.modifier"
											numvaluemin="0"
											numvaluemax="15"
											numdelay="200"></div>
									</div>
								</div>
							</div>
						</div>
						<br ng-if="card.durability.show || card.speed.show || card.finesse.show" />
					</div>
					
					<div ng-if="card.benefit.show" class="text-8"
						style="white-space: normal;">
						<div fs-block-input="benefit-input"
							class="fill-width" panel="panel"
							leadertext="'Benefit:'"
							blocktext="card.benefit.content"
							defaultblock="'Benefit effect.'"></div>
						<br />
					</div>
					<div ng-if="card.benefit.criticalSuccess.show" class="text-8"
						style="white-space: normal;">
						<div fs-block-input="critical-success-input"
							class="fill-width" panel="panel"
							leadertext="'Critical Success:'"
							blocktext="card.benefit.criticalSuccess.content"
							defaultblock="'Critical success effect.'"></div>
						<br />
					</div>
					<div ng-repeat="entry in card.entries" card-entry="entry" panel="panel"></div>
					<div card-footer></div>
				 </td>
			</tr>
		</tbody>
	</table>
</div>
<div style="position: absolute; top: 20em; left: 14em; width: 1em;" class="text-center">
	<a data-ng-click="$parent.panel.locked = !$parent.panel.locked;" stop-event>
		<i ng-hide="$parent.panel.locked" class="glyphicon glyphicon-lock grey-icon"></i>
		<i ng-show="$parent.panel.locked" class="glyphicon glyphicon-lock blue-icon"></i>
	</a>
</div>