<div class="outerTable" ng-controller="FeatureDeckListCtrl as vm">
	
	<div class="outerRow">
		<div class="outerCell" style="height: 80%; padding: 1em">
			<div style="height: 100%; width: 100%; border: 2px solid black">
				<div class="scrollDiv">
					<div class="innerTable">
						<div class="innerRow">
							<div class="innerCell" style="">
								Feature Deck List
							</div>
							<div class="innerCell" style="">
								Deck Type
							</div>
						</div>
						<div class="innerRow row" ng-click="vm.selectRow(deck)"
							ng-class="{selected: (deck === vm.currentRow)}"
							ng-repeat="deck in vm.deckList track by $index">
							<div class="innerCell">{{deck.name}}</div>
							<div class="innerCell">{{deck.deckType}}</div>
							<div class="innerCell">
								<a href="/featureDeckView/{{deck._id}}">
									View
								</a>
							</div>
							<div class="innerCell">
								<a href="/featureDeckEdit/{{deck._id}}">
									Edit
								</a>
							</div>
							<div class="innerCell">
								<a href="#" data-ng-click="vm.deleteDeck(deck);">
									Delete
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<a href="/newFeatureDeck">
				New Feature Deck
			</a>
		</div>
	</div>
</div>