<div class="outerTable" ng-controller="FeatureDeckNewCtrl as vm">
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<h3>New Feature Deck</h3>
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<h4>Name</h4>
			<input ng-model="vm.deck.name">
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<h4>Deck Size</h4>
			<div fs-numpicker
				numvalue="vm.deck.size"
				numvaluemin="0"
				numvaluemax="64"
				numdefault="0"
				numdelay="200"></div>
		</div>
		<div class="outerCell" style="height: 30%; padding: 1em">
			<h4>Dependencies</h4>
			<label ng-repeat="deck in vm.deckList">
				<input
			    type="checkbox"
			    name="selectedDecks[]"
			    value="{{deck._id}}"
			    ng-checked="deck.dependencies.indexOf(deck._id) > -1"
			    ng-click="vm.toggleDependency(deck._id)">
			  {{deck.name}}
			  <br>
			</label>
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<h4>Deck Type</h4>
			<div fs-select selection="vm.deck.type" 
				options="[['Aspect', 'Trait', 'Feat', 'Augment', 'Item']]">
			</div>
		</div>
	</div>
	
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<button ng-click="vm.addNewDeck(vm.deck.name, vm.deck.size, vm.deck.type, vm.deck.dependencies);">Create Deck</button>
		</div>
	</div>
	
</div>