div.flex-column {
	display: flex;
	flex-direction: column;
}

div.flex-column > input,
div.flex-column > textarea {
	box-sizing: border-box;
	font: inherit;
	width: 100%;
	min-width: 4em !important;
	min-height: 1.4em !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	resize: none;
}

div.flex-wrap {
	display: flex;
	flex-flow: row wrap;
}

div.inline-flex {
	display: inline-flex;
	flex-wrap: nowrap;
}

div.inline-flex-center {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
}

div.inline-flex > b {
	height: 100%;
	width: 100%;
}