.outerTable {
	display: table;
	height: 100%;
	width: 100%;
}

.outerRow {
	display: table-row;
}

.outerCell {
	display: table-cell;
	min-height: 100%;
}

.innerTable {
	display: table;
	position: absolute;
}

.innerRow {
	display: table-row;
	min-height: 100%;
	height: 100%;
}

.innerCell {
	display: table-cell;
	padding-top: .25em;
	padding-bottom: .25em;
	border: 1px solid darkgrey;
	cursor: default;
	vertical-align: top;
}

.innerCell input {
	box-sizing: border-box;
	padding: 0;
}

.scrollDiv {
	position: relative;
	overflow-x: scroll;
	overflow-y: scroll;
	height: 100%;
}