div[fs-numpicker] {
	display: inline-flex;
	flex-wrap: nowrap;
	overflow: hidden;
	width: 100%;
}

[fs-numpicker] input {
	min-width: 2em;
	width: 4em;
	flex-grow: 2;
	flex-shrink: 2;
}

[fs-numpicker] button {
	min-width: 1em;
	width: 2em;
	flex-grow: 1;
	flex-shrink: 1;
}