<div>
	<a href="/" class="text-16">Freedomsworn</a>
	-
	<a href="/pcDecks" class="text-14">PCs</a>
	-
	<a href="/featureDeckList" class="text-14">Cards</a>
	-
	<a href="/chronicles" class="text-14">Chronicles</a>
	-
	<a href="/articleList" class="text-14">Lore</a>
	-
	<a href="/forum" class="text-14">Forum</a>
	-
	<a href="/ruleSets" class="text-14">Rule-sets</a>
	-
	<fs-dropdown dropdown-id="userDropdown" ng-show="$root.currentUser" stop-event="1">
		<div class="fs-dropdown-toggle text-12">
			<span>{{ $root.currentUser.username }}</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul>
					<li><a href="/profile">My Profile</a></li>
					<li><a href="" ng-click="vm.logout()" ng-show="$root.currentUser">Logout</a></li>
				</ul>
			</div>
		</div>
	</fs-dropdown>
	-
	<fs-dropdown dropdown-id="loginDropdown" class="keep-open" ng-hide="$root.currentUser">
		<div class="fs-dropdown-toggle text-12">
			<span>Login</span>
		</div>
		<div class="fs-dropdown-panel" stop-event>
			<div>
				<form class="form login-register">
					<input class="form-control" type="text"
						placeholder="username" aria-label="username"
						ng-model="vm.credentials.username"/>
					<input class="form-control" type="password"
						placeholder="password" aria-label="password"
						ng-model="vm.credentials.password"/>
					<button class="btn btn-primary form-control" ng-click="vm.login()">
						Login
					</button>
					<div ng-if="loginError" class="alert-danger">Login Error</div>
				</form>
			</div>
		</div>
	</fs-dropdown>
	-
	<fs-dropdown dropdown-id="registerDropdown" class="keep-open" ng-hide="$root.currentUser">
		<div class="fs-dropdown-toggle text-12">
			<span>Register</span>
		</div>
		<div class="fs-dropdown-panel" stop-event>
			<div>
				<form class="form login-register">
					<input class="form-control" type="text"
						placeholder="username" aria-label="username"
						ng-model="vm.credentials.username"/>
					<input class="form-control" type="password"
						placeholder="password" aria-label="password"
						ng-model="vm.credentials.password"/>
					<button class="btn btn-primary form-control" ng-click="vm.register()">
						Register
					</button>
					<div ng-if="registerError" class="alert-danger">Registration Error</div>
				</form>
			</div>
		</div>
	</fs-dropdown>
	-
	<span>
		{{vm.ruleSet.name}}
		{{ $root.currentUser }}
	</span>
</div>