<div ng-if="isNumber(card.damageModifier)" class="fill-width">
	<strong>Damage Modifier: </strong> {{card.damageModifier}}
</div>

<div ng-if="isNumber(card.durabilityModifier)" class="fill-width">
	<strong>Durability Modifier: </strong> {{card.durabilityModifier}}
</div>

<div ng-if="isNumber(card.baseDurability)" class="fill-width">
	<strong>Base Durability: </strong> {{card.baseDurability}}
</div>

<div ng-if="isNumber(card.defenseModifier)" class="fill-width">
	<strong>Defense Modifier: </strong> {{card.defenseModifier}}
</div>

<div ng-if="isNumber(card.speedModifier)" class="fill-width">
	<strong>Speed Modifier: </strong> {{card.speedModifier}}
</div>

<div ng-if="isNumber(card.finesseModifier)" class="fill-width">
	<strong>Finesse Modifier: </strong> {{card.finesseModifier}}
</div>

<div ng-if="isNumber(card.carryingCapacityModifier)" class="fill-width">
	<strong>Carrying Capacity Modifier: </strong> {{card.carryingCapacityModifier}}
</div>

<div ng-if="card.defense.block.show" class="fill-width">
	<strong>Block Defense: </strong>
	{{card.defense.block.dice_a}} +	{{card.defense.block.dice_b}}
</div>

<div ng-if="card.defense.dodge.show" class="fill-width">
	<strong>Dodge Defense: </strong>
	{{card.defense.dodge.dice_a}} +	{{card.defense.dodge.dice_b}}
</div>

<div ng-if="card.defense.alertness.show" class="fill-width">
	<strong>Alertness Defense: </strong>
	{{card.defense.alertness.dice_a}} +	{{card.defense.alertness.dice_b}}
</div>

<div ng-if="card.defense.tenacity.show" class="fill-width">
	<strong>Tenacity Defense: </strong>
	{{card.defense.tenacity.dice_a}} +	{{card.defense.tenacity.dice_b}}
</div>

<br>

<div ng-if="card.benefit"
	style="white-space: normal;">
	<b>Benefit: </b>{{card.benefit}}
	<br />
	<div ng-if="card.benefitCritical"
		style="white-space: normal;">
		<b>Critical Success: </b>{{card.benefitCritical}}
	</div>
</div>