<div ng-if="cardAction.name">
	<div class="title-row text-9">
		<div class="title-block">
			<strong class="pull-left">{{cardAction.name}}</strong>
		</div>
		
		<div class="title-block">
			<span class="pull-right">
				{{cardAction.targetType}} {{cardAction.targetDetail}}
			</span>
		</div>
	</div>
	<hr class="black-line text-9">
	
	<div class="title-row text-9">
		<div class="title-block">
			<strong class="pull-left">
				{{cardAction.usage}}<span ng-if="cardAction.attackType">, {{cardAction.attackType}}</span>
			</strong>
		</div>
		<div class="title-block">
			<div class="pull-right">
				<span ng-if="cardAction.count">
					<strong>Count: </strong>{{cardAction.count}}
					<span ng-if="dataSrvc.dualItemSlots.indexOf(card.itemSlot) > -1">or {{cardAction.count-1}}*</span>
				</span>
			</div>
		</div>
	</div>
	
	<div ng-if="cardAction.frequency === 'Free'
		|| cardAction.frequency === 'Responsive'"
		style="white-space: normal;" class="text-9">
		<strong>Prompt: </strong>{{cardAction.prompt}}
	</div>
	
	<div ng-if="cardAction.effect.customEffect || cardAction.effect.moveEffect" class="text-9">
		<div>
			<strong>Effect: </strong>{{cardAction.effect.customEffect}}{{effectData.moveEffect[cardAction.effect.moveEffect]}}
		</div>
		
		<div ng-repeat="listItem in cardAction.effect.list track by $index">
			<span ng-show="listItem.content">
				<strong ng-show="listItem.leader">{{listItem.leader}}: </strong>
				<span ng-hide="listItem.leader">&nbsp;&#8226; </span>
				{{listItem.content}}
			</span>
		</div>
		
	</div>
	
	<div ng-if="cardAction.attackType" class="text-9">
		<strong>Attack: </strong>
		{{cardAction.dice_a}} + {{cardAction.dice_b}}{{cardAction.attackModifier}} vs {{cardAction.versus}}
	</div>
	
	<div action-success="cardAction.success"></div>
	
	<div ng-if="cardAction.criticalSuccess.damage || cardAction.criticalSuccess.effect" class="text-9">
		<strong>Critical Success: </strong>{{cardAction.criticalSuccess.damage}} {{cardAction.criticalSuccess.effect}}
	</div>
	
	
	
	<br>
</div>