fs-deck {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: .75s ease-in-out width;
	-moz-transition: .75s ease-in-out width;
	-o-transition: .75s ease-in-out width;
	-ms-transition: .75s ease-in-out width;
	transition: .75s ease-in-out width;
}

fs-deck > div {
	position: relative;
	overflow: auto;
	height: 100%;
	width: 100%;
}

fs-deck > div > div {
	position: absolute;
	height: 100%;
	width: 100%;
}

fs-deck > div > div > ul {
	list-style: none;
}