[fs-panel] {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: .2em;
	margin-top: 3em;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	box-sizing: border-box;
}

[fs-panel].card-moving {
	-webkit-transition: .5s ease-in-out !important;
	-moz-transition: .5s ease-in-out !important;
	-o-transition: .5s ease-in-out !important;
	-ms-transition: .5s ease-in-out !important;
	transition: .5s ease-in-out !important;
}

[fs-panel].dragging {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

[fs-panel].dragging > div > div {
	border-top: 2px solid #222;
	border-left: 2px solid #222;
	border-right: 3px solid #111;
	border-bottom: 3px solid #111;
}

[fs-panel] > div > div {
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 2px solid #111;
	border-bottom: 2px solid #111;
	background-color: Wheat;
}
