<div class="content-panel flex-column" style="padding: 5px">
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>EXP: </b>
		</div>
		<div style="flex: 5;">
			<div fs-numpicker-hover
				numvalue="vm.deck.experience"
				numvaluemin="0"
				numvaluemax="1100"
				numdefault="0"
				numdelay="200"
				numcallback="vm.deck.factorExperience()"></div>
		</div>
		
		<div style="flex: 6;">
			<b>Health: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{vm.deck.healthCurrent}}
			</span>
			/
			<span>
				{{vm.deck.healthLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Level: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{vm.deck.level}}
		</div>
		
		<div style="flex: 6;">
			<b>Stamina: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{vm.deck.staminaCurrent}}
			</span>
			/
			<span>
				{{vm.deck.staminaLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Size: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{vm.deck.size}}
		</div>
		<div class="" style="flex: 6;">
			<b>Class: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span ng-repeat="class in vm.deck.class">
				{{class.name}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Speed: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{vm.deck.moveSpeed}}
		</div>
		<div class="" style="flex: 6;">
			<b>Faction: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span ng-repeat="faction in vm.deck.faction">
				{{faction.name}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Trait<br>Cards:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{vm.deck.traitLimit}}
		</div>
		<div class="" style="flex: 6;">
			<b>Carrying<br>Capacity: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{vm.deck.carryCurrent}}
			</span>
			/
			<span>
				{{vm.deck.carryLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Feat<br>Limit:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{vm.deck.featLimit}}
		</div>
		<div class="" style="flex: 6;">
			<b>Augment<br>Limit:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{vm.deck.augmentLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Defense<br>Modifier:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{vm.deck.defenseModifier}}
		</div>
		<div class="" style="flex: 6;">
			<b>Base<br>Durability:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{vm.deck.baseDurability}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Damage<br>Modifier:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{vm.deck.damageModifier}}
		</div>
		<div class="" style="flex: 6;">
			<b>Total<br>Durability:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{vm.deck.totalDurability}}
			</span>
		</div>
	</div>
	
</div>