<fs-table-numpicker
	column-shown="vm.shownColumns.damageModifier"
	numvalue="vm.card.damageModifier"
	numvaluemin="-4"
	numvaluemax="4"
	numdefault="0"
	numdelay="500">
</fs-table-numpicker>

<fs-table-numpicker
	column-shown="vm.shownColumns.durabilityModifier"
	numvalue="vm.card.durabilityModifier"
	numvaluemin="-4"
	numvaluemax="4"
	numdefault="0"
	numdelay="500">
</fs-table-numpicker>

<fs-table-numpicker
	column-shown="vm.shownColumns.defenseModifier"
	numvalue="vm.card.defenseModifier"
	numvaluemin="-4"
	numvaluemax="4"
	numdefault="0"
	numdelay="500">
</fs-table-numpicker>

<fs-table-numpicker
	column-shown="vm.shownColumns.moveSpeedModifier"
	numvalue="vm.card.moveSpeedModifier"
	numvaluemin="-1"
	numvaluemax="1"
	numdefault="0"
	numdelay="500">
</fs-table-numpicker>

<fs-table-numpicker
	column-shown="vm.shownColumns.finesseModifier"
	numvalue="vm.card.finesseModifier"
	numvaluemin="-4"
	numvaluemax="4"
	numdefault="0"
	numdelay="500">
</fs-table-numpicker>

<fs-table-numpicker
	column-shown="vm.shownColumns.carryingCapacityModifier"
	numvalue="vm.card.carryingCapacityModifier"
	numvaluemin="-4"
	numvaluemax="4"
	numdefault="0"
	numdelay="500">
</fs-table-numpicker>