<div class="inline-flex fill-height">
	
	<div class="flex-column">
	
		<div class="inline-flex fill-height">
			
			<div class="inline-flex">
				<fs-dropdown id="vm.card.id" class="open-down">
					<div class="fs-dropdown-toggle {{vm.card.cardType}}">
						<div class="grid-card-icon text-center">
							<div class="text-6">
								<b>#{{vm.card.cardNumber}}</b>
								<br>
								<fs-table-stats card="vm.card"></fs-table-stats>
							</div>
						</div>
					</div>
					<div class="fs-dropdown-panel">
						<div class="feature-card">
							<feature-card
								card="vm.card" class="{{vm.card.cardType}}"
								class="fill-parent content-panel grid-card"></feature-card>
						</div>
					</div>
				</fs-dropdown>
			</div>
			
			<fs-table-input class="inline-flex" input-model="vm.card.name"
				input-type="'text'" column-shown="vm.shownColumns.nodes.name"></fs-table-input>
			
			<fs-table-input class="inline-flex" input-model="vm.card.aspect"
				input-type="'fs-select'"
				toggle-header="'Aspect'" option-headers="['Classes','Factions','Races']"
				options="[deckDependencies.classes, deckDependencies.factions, deckDependencies.races]"
				column-shown="vm.shownColumns.nodes.aspect"></fs-table-input>
			
			<fs-table-input class="inline-flex" input-model="vm.card.description"
				input-type="'textarea'" column-shown="vm.shownColumns.nodes.description"></fs-table-input>
			
			<div ng-if="vm.shownColumns.nodes.benefit.shown" class="inline-flex">
				
				<fs-table-input class="inline-flex" input-model="vm.card.benefit"
					input-type="'textarea'" column-shown="vm.shownColumns.nodes.benefit.nodes.benefit">
				</fs-table-input>
				
				<fs-table-input class="inline-flex" input-model="vm.card.benefitCritical"
					input-type="'textarea'" column-shown="vm.shownColumns.nodes.benefit.nodes.criticalSuccess">
				</fs-table-input>
				
			</div>
			
			<fs-table-statistics class="inline-flex"
			 	ng-if="vm.shownColumns.nodes.statistics.shown"
			 	card="vm.card"
				shown-columns="vm.shownColumns.nodes.statistics.nodes">
			</fs-table-statistics>
			
			<fs-table-item class="inline-flex"
			 	ng-if="vm.shownColumns.nodes.item.shown"
			 	card="vm.card"
				shown-columns="vm.shownColumns.nodes.item.nodes">
			</fs-table-item>
			
			<fs-table-modifier class="inline-flex"
				ng-if="vm.shownColumns.nodes.modifiers.shown"
				card="vm.card"
				shown-columns="vm.shownColumns.nodes.modifiers.nodes">
			</fs-table-modifier>
			
			<fs-table-defenses class="inline-flex"
				ng-if="vm.shownColumns.nodes.defenses.shown"
				card="vm.card"
				shown-columns="vm.shownColumns.nodes.defenses.nodes">
			</fs-table-defenses>
			
			<fs-table-action class="inline-flex" 
				ng-if="vm.shownColumns.nodes.action1.shown"
				card="vm.card" action="vm.card.action1" action-id="0"
				shown-columns="vm.shownColumns.nodes.action1.nodes">
			</fs-table-action>

			<fs-table-action class="inline-flex" 
				ng-if="vm.shownColumns.nodes.action2.shown"
				card="vm.card" action="vm.card.action2" action-id="1"
				shown-columns="vm.shownColumns.nodes.action2.nodes">
			</fs-table-action>
			
		</div>
		
		<fs-table-resize resize-id="vm.card._id"
			resize-height="1" min-height="6"></fs-table-resize>
			
	</div>
	
</div>