<div ng-if="vm.action.name">
	<div class="inline-flex fill-parent">
		<div style="flex: 1">
			<strong>{{vm.action.name}}</strong>
		</div>
		
		<div>
				{{vm.action.targetType}} {{vm.action.targetDetail}}
		</div>
	</div>
	<hr class="black-line text-9">
	
	<div class="inline-flex fill-parent">
		<div style="flex: 1">
			<strong>
				{{vm.action.usage}}<span ng-if="vm.action.attackType">, {{vm.action.attackType}}</span>
			</strong>
		</div>
		<div>
			<div>
				<span ng-if="vm.action.count">
					<strong>Count: </strong>{{vm.action.count}}
					<span ng-if="dataSrvc.dualItemSlots.indexOf(vm.card.itemSlot) > -1">or {{vm.action.count-1}}*</span>
				</span>
				<span ng-if="vm.action.disruptivePrompt">
					<strong>Disruptive</strong>
				</span>
				<span ng-if="vm.action.responsivePrompt">
					<strong>Responsive</strong>
				</span>
			</div>
		</div>
	</div>
	
	<div ng-if="vm.action.disruptivePrompt"
		style="white-space: normal;">
		<strong>Prompt: </strong>{{vm.action.disruptivePrompt}}
	</div>
	
	<div ng-if="vm.action.responsivePrompt"
		style="white-space: normal;">
		<strong>Prompt: </strong>{{vm.action.responsivePrompt}}
	</div>
	
	<div ng-if="vm.action.effect.customEffect || vm.action.effect.moveEffect">
		<div>
			<strong>Effect: </strong>{{vm.action.effect.customEffect}}{{effectData.moveEffect[vm.action.effect.moveEffect]}}
		</div>
		
		<div ng-repeat="listItem in vm.action.effect.list track by $index">
			<span ng-show="listItem.content">
				&nbsp;
				<strong ng-show="listItem.leader">{{listItem.leader}}: </strong>
				<span ng-hide="listItem.leader">&#8226; </span>
				{{listItem.content}}
			</span>
		</div>
		
	</div>
	
	<div ng-if="vm.action.attackType">
		<strong>Attack: </strong>
		{{vm.action.dice_a}} + {{vm.action.dice_b}}{{vm.action.attackModifier}} vs {{vm.action.versus}}
	</div>
	
	<action-success success="vm.action.success"></action-success>
	
	<action-critical-success critical-success="vm.action.criticalSuccess"></action-critical-success>
	
	<br>
</div>