fs-grid {
	height: 100%;
	border: 3px double blue;
	display: flex;
	flex-direction: column;
}

fs-grid .selected {
	background-color: lightblue;
}

.fs-grid-row {
	display: flex;
	flex-wrap: wrap;
}

.fs-grid-row > div {
	border: 1px solid white;
	padding: 1px;
	overflow: hidden;
	box-sizing: border-box;
}

fs-grid textarea {
	height: 100%;
	width: 100%;
}

.fs-grid-cell > div {
	height: 100%;
	width: 100%;
}

fs-grid-action,
fs-grid-action > div {
	height: 100%;
	width: 100%;
}