fs-grid {
	height: 100%;
	border: 3px double blue;
	display: flex;
	flex-direction: column;
}

.fs-grid-row {
	flex: 1;
}

.fs-grid-row > div{
	border: 3px double green;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
}