<div ng-if="cardEntry.usage === 'Defense'" class="text-8" style="white-space: normal;">
	<div fs-dropdown id="defense-type" stop-event>
		<div class="fs-dropdown-toggle">
			<strong ng-hide="cardEntry.defense.defenseType">[Type]</strong>
			<strong>{{cardEntry.defense.defenseType}} Defense: </strong>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul style="width: 40%">
					<li role="presentation" class="dropdown-header">Defense Type</li>
					<li ng-repeat="defenseType in dataSrvc.defenseTypes"><label>
						<input type="radio" value="{{defenseType}}"
							ng-model="cardEntry.defense.defenseType">
						{{defenseType}}
					</label></li>
				</ul>
				<ul style="width: 40%">
					<li role="presentation" class="dropdown-header">Defense Options</li>
					<li><label>
						<input type="checkbox" ng-model="cardEntry.defense.success.show"> Success
					</label></li>
					<li ng-show="cardEntry.usage === 'Defense'"><label>
						<input type="checkbox" ng-model="cardEntry.defense.criticalSuccess.show"> Critical Success
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div fs-dropdown id="defense-dice-a" stop-event>
		<div class="fs-dropdown-toggle">
			{{cardEntry.defense.dice_a}}
			<span ng-hide="cardEntry.defense.dice_a">1d__</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul style="width: 30%" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Fixed Die</Strong></li>
					<li ng-repeat="dice in dataSrvc.dice"><label>
						<input type="radio" value="{{dice}}"
							ng-model="cardEntry.defense.dice_a">
						{{dice}}
					</label></li>
				</ul>
				<ul style="width: 30%" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Physical</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index < 4"><label>
						<input type="radio" value="{{ability}}"
							ng-model="cardEntry.defense.dice_a">
						{{ability}}
					</label></li>
				</ul>
				<ul style="width: 30%" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Mental</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index > 3"><label>
						<input type="radio" value="{{ability}}"
							ng-model="cardEntry.defense.dice_a">
						{{ability}}
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	+
	
	<div fs-dropdown id="defense-dice-b" stop-event>
		<div class="fs-dropdown-toggle">
			{{cardEntry.defense.dice_b}}
			<span ng-hide="cardEntry.defense.dice_b">1d__</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul class="col-xs-4 text-8" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Fixed Die</Strong></li>
					<li ng-repeat="dice in dataSrvc.dice"><label>
						<input type="radio" value="{{dice}}"
							ng-model="cardEntry.defense.dice_b">
						{{dice}}
					</label></li>
				</ul>
				<ul class="col-xs-4 text-8" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Physical</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index < 4"><label>
						<input type="radio" value="{{ability}}"
							ng-model="cardEntry.defense.dice_b">
						{{ability}}
					</label></li>
				</ul>
				<ul class="col-xs-4 text-8" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Mental</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index > 3"><label>
						<input type="radio" value="{{ability}}"
							ng-model="cardEntry.defense.dice_b">
						{{ability}}
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-if="cardEntry.defense.success.show">
		<div fs-block-input="defense-success"
			class="fill-width" panel="panel"
			leadertext="'Success:'"
			blocktext="cardEntry.defense.success.content"
			defaultblock="'Success effect.'"></div>
	</div>
	<div ng-if="cardEntry.defense.criticalSuccess.show">
		<div fs-block-input="defense-critical-success"
			class="fill-width" panel="panel"
			leadertext="'Critical Success:'"
			blocktext="cardEntry.defense.criticalSuccess.content"
			defaultblock="'Critical success effect.'"></div>
	</div>
</div>