<div ng-if="cardEntry.attack.show && cardEntry.usage !== 'Defense'"
	style="white-space: normal;" class="text-8">
	<div fs-dropdown id="attack-type" stop-event>
		<div class="fs-dropdown-toggle">
			<strong>Attack: </strong>{{attackType}}
		</div>
		<div class="fs-dropdown-panel" stop-click>
			<div>
				<ul style="width: 45%">
					<li>Attack Type</li>
					<li ng-repeat="attackType in dataSrvc.attackTypes"><label>
						<input type="radio" value="{{attackType}}"
							ng-model="cardEntry.attack.attackType">
						{{attackType}}
					</label></li>
				</ul>
				<ul style="width: 45%">
					<li>Attack Options</li>
					<li ng-show="cardEntry.attack.attackType === 'Melee'"><label>
						<input type="checkbox" ng-model="cardEntry.reflexive"> Reflexive
					</label></li>
					<li ng-if="cardEntry.attack.attackType === 'Ranged'"><label>
						<input type="checkbox" ng-model="cardEntry.thrown"> Thrown
					</label></li>
					<li><label>
						<input type="checkbox" ng-model="cardEntry.attack.success.show"> Success
					</label></li>
					<li><label>
						<input type="checkbox" ng-model="cardEntry.attack.criticalSuccess.show"> Critical Success
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div fs-dropdown id="attack-dice-a" stop-event>
		<div class="fs-dropdown-toggle">
			{{cardEntry.attack.dice_a}}
			<span ng-hide="cardEntry.attack.dice_a">1d__</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul style="width: 45%">
					<li ng-repeat="dice in dataSrvc.dice"><label>
						<input type="radio" value="{{dice}}"
							ng-model="cardEntry.attack.dice_a">
						{{dice}}
					</label></li>
				</ul>
				<ul style="width: 45%">
					<li ng-repeat="ability in dataSrvc.abilities"><label>
						<input type="radio" value="{{ability}}"
							ng-model="cardEntry.attack.dice_a">
						{{ability}}
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	+
	<div fs-dropdown id="attack-dice-b" stop-event>
		<div class="fs-dropdown-toggle">
			{{cardEntry.attack.dice_b}}
			<span ng-hide="cardEntry.attack.dice_b">1d__</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul style="width: 45%">
					<li ng-repeat="dice in dataSrvc.dice"><label>
						<input type="radio" value="{{dice}}"
							ng-model="cardEntry.attack.dice_b">
						{{dice}}
					</label></li>
				</ul>
				<ul style="width: 45%">
					<li ng-repeat="ability in dataSrvc.abilities"><label>
						<input type="radio" value="{{ability}}"
							ng-model="cardEntry.attack.dice_b">
						{{ability}}
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	vs
	<div fs-dropdown id="attack-dice-b" stop-event>
		<div class="fs-dropdown-toggle">
			{{cardEntry.attack.versus}}
			<span ng-hide="cardEntry.attack.versus">[Defense]</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul>
					<li role="presentation" class="dropdown-header">Defense Attacked</li>
					<li ng-repeat="defenseType in dataSrvc.defenseTypes"><label>
						<input type="radio" value="{{defenseType}}"
							ng-model="cardEntry.attack.versus">
						{{defenseType}}
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-if="cardEntry.attack.success.show">
		<div fs-block-input="success-content"
			class="fill-width" panel="panel"
			leadertext="'Success:'"
			blocktext="card.attack.success.content"
			defaultblock="'Success details.'"></div>
	</div>
	<div ng-if="cardEntry.attack.criticalSuccess.show">
		<div fs-block-input="success-content"
			class="fill-width" panel="panel"
			leadertext="'Critical Success:'"
			blocktext="card.attack.criticalSuccess.content"
			defaultblock="'Critical success details.'"></div>
	</div>
</div>