<div ng-if="card.cardType === 'Item'" class="text-8">
	<div ng-if="panel.locked && card.durability.show">
		<strong>Durability Modifier: </strong>{{card.durability.modifier}}
	</div>
	<div ng-if="!panel.locked && card.durability.show">
		<div ng-if="!panel.locked" class="dropdown dropup"
			dropdown on-toggle="toggled(open)" stop-event>
			<a class="dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<strong>Durability Modifier: </strong>
				{{card.durability.modifier}}
			</a>
			<div class="dropdown-menu dropup">
				<div class="text-center"><strong>Durability<br />Modifier</strong></div>
				<div numpicker stop-click stop-event
					numvalue="card.durability.modifier"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
			</div>
			<br />
		</div>
	</div>
	<div ng-if="panel.locked && card.speed.show">
		<strong>Speed Modifier: </strong>{{card.speed.modifier}}
	</div>
	<div ng-if="!panel.locked && card.speed.show">
		<div ng-if="!panel.locked" class="dropdown dropup"
			on-toggle="toggled(open)" stop-event>
			<a class="dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<strong>Speed Modifier: </strong>
				{{card.speed.modifier}}
			</a>
			<div class="dropdown-menu dropup">
				<div class="text-center"><strong>Speed<br />Modifier</strong></div>
				<div numpicker stop-click stop-event
					numvalue="card.speed.modifier"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
			</div>
			<br />
		</div>
	</div>
	<div ng-if="panel.locked && card.finesse.show">
		<strong>Finesse Modifier: </strong>{{card.finesse.modifier}}
	</div>
	<div ng-if="!panel.locked && card.finesse.show">
		<div ng-if="!panel.locked" class="dropdown dropup"
			data-toggle="console.log('open')" stop-event>
			<a class="dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<strong>Finesse Modifier: </strong>
				{{card.finesse.modifier}}
			</a>
			<div class="dropdown-menu dropup">
				<div class="text-center"><strong>Finesse<br />Modifier</strong></div>
				<div numpicker stop-click stop-event
					numvalue="card.finesse.modifier"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
			</div>
			<br />
		</div>
	</div>
</div>
<br ng-if="card.durability.show || card.speed.show || card.finesse.show" />