<div class="dropdown text-8" dropdown on-toggle="toggled(open)"
	style="width: 100%; white-space: normal; word-wrap: break-word;" stop-event>
	<div class="dropdown-toggle" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="true">
		<strong>
			{{leaderText}}:
		</strong>
		<span>
			{{bodyText}}
		</span>
		<span ng-if="!bodyText">{{defaultText}}</span>
	</div>
	<div class="dropdown-menu" aria-labelledby="cardDropdown"
		style="width: 100%; padding: .2em;">
		<textarea ng-model="bodyText"
			style="width: 100%; word-wrap: break-word; resize: none;"></textarea>
	</div>
</div>