<div fs-dropdown id="definition-input" class="fill-width" span-width="true" stop-click stop-event>
	<div class="fs-dropdown-toggle text-9">
		<b ng-if="!leadertext">{{defaultleader}}</b><b>{{leadertext}}:</b>
		<span>
			{{contenttext}}
		</span>
		<span ng-if="!contenttext">{{defaultcontent}}</span>
	</div>
	<div class="fs-dropdown-panel" stop-click>
		<div class="text-9">
			Leader Text:
			<input ng-model="leadertext" type="text"
              ng-change="onChangeLeader()" stop-click>
            </input>
			Content:
			<textarea ng-model="contenttext"
              class="text-descriptive text-center text-9"
              ng-change="onChangeContent()" stop-click>
            </textarea>
		</div>
	</div>
</div>