<div style="display: table; height: 100%; width: 100%">
	<div class="content-row" style="height: 33%">
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[0].image}}
				ng-click="chooseDie(0);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[1].image}}
				ng-show="deck.dicepool[1].order > 0"
				ng-click="chooseDie(1);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[2].image}}
				ng-show="deck.dicepool[2].order > 0"
				ng-click="chooseDie(2);"
				class="dice-box-image" />
		</div>
	</div>
	<div class="content-row" style="height: 33%">
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[3].image}}
				ng-show="deck.dicepool[3].order > 0"
				ng-click="chooseDie(3);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[4].image}}
				ng-show="deck.dicepool[4].order > 0"
				ng-click="chooseDie(4);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[5].image}}
				ng-show="deck.dicepool[5].order > 0"
				ng-click="chooseDie(5);"
				class="dice-box-image" />
		</div>
	</div>
	<div class="content-row" style="height: 33%">
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[6].image}}
				ng-show="deck.dicepool[6].order > 0"
				ng-click="chooseDie(6);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[7].image}}
				ng-show="deck.dicepool[7].order > 0"
				ng-click="chooseDie(7);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{deck.dicepool[8].image}}
				ng-show="deck.dicepool[8].order > 0"
				ng-click="chooseDie(8);"
				class="dice-box-image" />
		</div>
	</div>
</div>