.Class .content-panel,
.Class .grid-card-icon,
.Faction .content-panel,
.Faction .grid-card-icon,
.Race .content-panel,
.Race .grid-card-icon {
	background-color: navajoWhite !important;
}

.Terrain .content-panel,
.Terrain .grid-card-icon {
	background-color: Peru !important;
}

.Surge .content-panel,
.Surge .grid-card-icon {
	background-color: DarkSeaGreen !important;
}

.Hindrance .content-panel,
.Hindrance .grid-card-icon {
	background-color: DarkSalmon !important;
}

.Trait .content-panel,
.Trait .grid-card-icon {
	background-color: Moccasin !important;
}

.Feat .content-panel,
.Feat .grid-card-icon {
	background-color: DarkKhaki !important;
}

.Augment .content-panel,
.Augment .grid-card-icon {
	background-color: DarkSeaGreen !important;
}

.Item .content-panel,
.Item .grid-card-icon {
	background-color: Khaki !important;
}

.Origin .content-panel,
.Origin .grid-card-icon {
	background-color: Beige !important;
}

fs-dropdown .feature-card {
	width: 15em;
	height: 21em;
}