.Aspect .content-panel,
.Aspect .grid-card-icon {
	background-color: navajoWhite !important;
}

.Trait .content-panel,
.Trait .grid-card-icon {
	background-color: Moccasin !important;
}

.Feat .content-panel,
.Feat .grid-card-icon {
	background-color: DarkKhaki !important;
}

.Augment .content-panel,
.Augment .grid-card-icon {
	background-color: DarkSeaGreen !important;
}

.Item .content-panel,
.Item .grid-card-icon {
	background-color: Khaki !important;
}

.Origin .content-panel,
.Origin .grid-card-icon {
	background-color: Beige !important;
}