<div class="flex-column fill-height">
	
	<div style="flex: 1">
		<div fs-select="'nested'" toggle-header="'Class'" options="shownColumns.class"></div>
		<div class="text-6">{{shownColumns.class}}</div>
	</div>
	
	<div style="flex: 1">
		<div fs-select="'nested'" toggle-header="'Race'" options="shownColumns.race"></div>
		<div class="text-6">{{shownColumns.race}}</div>
	</div>
	
	<div style="flex: 1">
		<div fs-select="'nested'" toggle-header="'Faction'" options="shownColumns.faction"></div>
		<div class="text-6">{{shownColumns.faction}}</div>
	</div>
	
	<div style="flex: 1">
		<div fs-select="'nested'" toggle-header="'Trait'" options="shownColumns.trait"></div>
		<div class="text-6">{{shownColumns.race}}</div>
	</div>
	
	<div style="flex: 1">
		<div fs-select="'nested'" toggle-header="'Feat'" options="shownColumns.feat"></div>
		<div class="text-6">{{shownColumns.feat}}</div>
	</div>
	
	<div style="flex: 1">
		<div fs-select="'nested'" toggle-header="'Augment'" options="shownColumns.augment"></div>
		<div class="text-6">{{shownColumns.augment}}</div>
	</div>
	
	<div style="flex: 1">
		<div fs-select="'nested'" toggle-header="'Item'" options="shownColumns.item"></div>
		<div class="text-6">{{shownColumns.item}}</div>
	</div>
	
</div>