<div fs-dropdown id="item-weight" stop-event>
	<div class="fs-dropdown-toggle">
		<strong>W:</strong>
		{{card.weight}}
	</div>
	<div class="fs-dropdown-panel" stop-click>
		<div>
			<h5 class="text-center"><strong>Item Weight</strong></h5>
			<div numpicker stop-click stop-event
				numvalue="card.weight"
				numvaluemin="0"
				numvaluemax="15"
				numdelay="200"></div>
		</div>
	</div>
</div>
/
<div fs-dropdown id="item-cost" stop-event>
	<div class="fs-dropdown-toggle">
		<strong>C:</strong> 
		{{card.cost}}
	</div>
	<div class="fs-dropdown-panel" stop-click>
		<div>
			<h5 class="text-center"><strong>Item Cost</strong></h5>
			<div numpicker stop-click stop-event
				numvalue="card.cost"
				numvaluemin="0"
				numvaluemax="15"
				numdelay="200"></div>
		</div>
	</div>
</div>