<hr class="black-line">
<div class="title-row">
	<div ng-if="card.cardType !== 'Item'">
		<div card-modal-toggle modal-id="cardFooterPrerequisites" modal-card="card" modalxalign="left">
			<strong>
				{{card.keyword}} {{card.prerequisite}}
			</strong>
			<strong ng-if="!card.keyword && !card.prerequisite">
				[Prerequisites]
			</strong>
		</div>
	</div>
	
	<div ng-if="card.cardType === 'Item'" class="title-block">
		<div card-modal-toggle modal-id="cardFooterItemSlot" modal-card="card" modalxalign="left">
			<strong class="pull-left">
				{{card.itemSlot}}
			</strong>
			<strong ng-if="!card.itemSlot" class="pull-left">
				[Item Slot]
			</strong>
		</div>
	</div>
	
	<div ng-if="card.cardType === 'Item'" class="title-block">
		<div ng-if="panel.locked" class="pull-right">
			<strong>W:</strong>
			{{card.weight}}
			/
			<strong>C:</strong>
			{{card.cost}}
		</div>
		
		<div ng-if="!panel.locked" class="dropdown dropup pull-right"
			dropdown on-toggle="toggled(open)" stop-event>
			<a class="dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<strong>W:</strong>
				{{card.weight}}
				/
				<strong>C:</strong> 
				{{card.cost}}
			</a>
			<div class="dropdown-menu dropdown-menu-right dropup">
				<h5 class="text-center"><strong>Item Weight</strong></h5>
				<div numpicker stop-click stop-event
					numvalue="card.weight"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
				<h5 class="text-center"><strong>Item Cost</strong></h5>
				<div numpicker stop-click stop-event
					numvalue="card.cost"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
			</div>
		</div>
	</div>
</div>
<div class="title-row">
	<div class="title-block">
		<span class="text-6 pull-left">
			&COPY; 2015 R. j. Huffaker
		</span>
	</div>
	<div class="title-block">
		<span class="text-7 pull-right text-capitalize">
			{{card.deckName}} {{card.cardNumber}}/{{card.deckSize}}
		</span>
	</div>
</div>
