<div class="text-9">
	<ul stop-click>
		<li>Weapons & Implements</li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="One-handed">
			One-handed
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Two-handed">
			Two-handed
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="One-handed or Paired">
			One-handed or Paired
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="One-handed or Two-handed">
			One-handed or Two-handed
		</label></li>
	</ul>
</div>
<div class="text-9">
	<ul stop-click>
		<li>Armor & Accessories</li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Armor">
			Armor
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Boots">
			Boots
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Ring">
			Ring
		</label></li>
	</ul>
	<ul stop-click>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Shield">
			Shield
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Cloak">
			Cloak
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Helmet">
			Helmet
		</label></li>
	</ul>
	<ul stop-click>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Gloves">
			Gloves
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Amulet">
			Amulet
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Belt">
			Belt
		</label></li>
	</ul>
</div>
<div class="text-9">
	<ul stop-click>
		<li>Miscellaneous</li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Consumable">
			Consumable
		</label></li>
		<li><label>
			<input type="radio" ng-model="card.itemSlot" value="Provision">
			Provision
		</label></li>
	</ul>
</div>