<div fs-dropdown id="cardHeaderAspect" stop-event>
	<div class="fs-dropdown-toggle">
		<span class="text-capitalize">
			{{card.aspect.name}}
		</span>
		<span ng-if="!card.aspect">
			[Aspect]
		</span>
	</div>
	<div class="fs-dropdown-panel">
		<div>
			<ul class="text-9">
				<li stop-click>Archetype</li>
				<li ng-repeat="archetype in deckDependencies.archetypes track by $index" stop-click>
					<label>
						<input type="radio" ng-checked="card.aspect.name === archetype.name"
							ng-click="changeAspect(card, archetype)">
						{{archetype.name}}
					</label>
				</li>
				<li stop-click>Allegiance</li>
				<li ng-repeat="allegiance in deckDependencies.allegiances"
					ng-if="allegiance.name !== 'Unaligned'" stop-click>
					<label>
						<input type="radio" ng-checked="card.aspect.name === allegiance.name"
							ng-click="changeAspect(card, allegiance)">
						{{allegiance.name}}
					</label>
					</li>
				<li stop-click>Race</li>
				<li ng-repeat="race in deckDependencies.races"
					ng-if="race.name !== 'Weolda'" stop-click>
					<label>
						<input type="radio" ng-checked="card.aspect.name === race.name"
							ng-click="changeAspect(card, race)">
						{{race.name}}
					</label>
				</li>
			</ul>
		</div>
	</div>
</div>