<div fs-dropdown id="cardHeaderAspectType" stop-event>
	<div class="fs-dropdown-toggle">
		<span>
			{{card.aspectType}}
		</span>
		<span ng-if="!card.aspectType">
			[Aspect Type]
		</span>
	</div>
	<div class="fs-dropdown-panel">
		<div>
			<ul class="text-9">
				<li stop-click="1">Aspect Type</li>
				<li ng-repeat="aspectType in dataSrvc.aspectTypes" stop-click="1"><label>
					<input type="radio" ng-model="card.aspectType" value="{{aspectType}}">
					{{aspectType}}
				</label></li>
			</ul>
		</div>
	</div>
</div>