<div fs-dropdown id="cardHeaderItemType" stop-event>
	<div class="fs-dropdown-toggle">
		<span>
			{{card.itemType}}
		</span>
		<span ng-if="!card.itemType">
			[Item Type]
		</span>
	</div>
	<div class="fs-dropdown-panel">
		<div>
			<ul class="text-9">
				<li stop-click="1">Weapon/Implement Type</li>
				<li ng-repeat="itemType in dataSrvc.itemTypes" stop-click="1"><label>
					<input type="radio" ng-model="card.itemType" value="{{itemType}}">
					{{itemType}}
				</label></li>
			</ul>
		</div>
	</div>
</div>