<table class="fill-parent" fit-content>
	<tbody>
		<tr>
			<td style="vertical-align: top;">
				<div card-header-logo ></div>
			</td>
			
			<td class="fill-parent">
				<div class="card-header fill-parent">
					
					<input id="name" class="fill-width card-input" type="text"
						 ng-model="card.name" stop-event/>
					
					<hr class="black-line">
					
					<div ng-if="card.cardType !== 'Item' && card.cardType !== 'Aspect'">
						<div card-header-aspect></div>
					</div>
					
					<div ng-if="card.cardType === 'Item'
						&& (card.itemSlot === 'One-handed'
						|| card.itemSlot === 'Two-handed'
						|| card.itemSlot === 'One-handed or Paired'
						|| card.itemSlot === 'One-handed or Two-handed')">
						<div card-header-item-type></div>
					</div>
					
					<div ng-if="card.cardType === 'Aspect'">
						<div fs-select selection="card.aspectType"
							options="dataSrvc.aspectTypes" stop-event></div>
					</div>
					
				</div>
			</td>
		</tr>
	</tbody>
</table>