<div fs-dropdown id="fs-select" class="open-down">
	<div class="fs-dropdown-toggle">
		<span ng-if="!selection">
			{{selectHeader}}
			<span ng-if="(!selectHeader)">
				Select
			</span>
		</span>
		<span ng-if="selection.name">
			{{selection.name}}
		</span>
		<span ng-if="!selection.name">
			{{selection}}
		</span>
	</div>
	<div class="fs-dropdown-panel">
		<div>
			<ul ng-repeat="optionList in options track by $index" class="text-9">
				<li ng-show="optionList.length" class="header" stop-click="1">
					{{selectionHeaders[$index]}}
				</li>
				<li ng-repeat="option in optionList track by $index"
					ng-class="{current: showSelected(option)}"
					ng-click="selectOption(option)"
					stop-click={{selectionArray}}>
					<span ng-show="option.name">
						{{option.name}}
					</span>
					<span ng-show="!option.name">
						{{option}}
					</span>
				</li>
			</ul>
			
			<ul>
				<li ng-repeat="(key, value) in toggleList"
					ng-class="{current: value}"
					ng-click="toggleOption(key)"
					stop-click="1">
					<span>
						{{key}}
					</span>
				</li>
			</ul>
			
		</div>
	</div>
</div>