<div class="inline-flex">
	<div fs-select="'nested'" options="shownColumns"></div>
	<div class="row-header">Action {{actionId+1}}</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex">
	
	<div class="inline-flex" ng-style="{'width': shownColumns.name.width}"
		ng-if="shownColumns.name.shown">
		<b>Name</b>
		<div resize-handle="Width" id="Name {{actionId}}"
			resize-width="shownColumns.name.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.target.width}"
		ng-if="shownColumns.target.shown">
		<b>Target</b>
		<div resize-handle="Width" id="Target {{actionId}}"
			resize-width="shownColumns.target.width"></div>
	</div>

	<div class="inline-flex" ng-style="{'width': shownColumns.usage.width}"
		ng-if="shownColumns.usage.shown">
		<b>Usage</b>
		<div resize-handle="Width" id="Usage {{actionId}}"
			resize-width="shownColumns.usage.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.frequency.width}"
		ng-if="shownColumns.frequency.shown">
		<b>Frequency</b>
		<div resize-handle="Width" id="Frequency {{actionId}}"
			resize-width="shownColumns.frequency.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.count.width}"
		ng-if="shownColumns.count.shown">
		<b>Count</b>
		<div resize-handle="Width" id="Count {{actionId}}"
			resize-width="shownColumns.count.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.customEffect.width}"
		ng-if="shownColumns.effect.shown &&
			shownColumns.effect.nodes.customEffect.shown">
		<div fs-select="'boolean'" options="shownColumns.effectLists[actionId]"></div>
		<b>Custom Effect</b>
		<div resize-handle="Width" id="Custom Effect {{actionId}}"
			resize-width="shownColumns.effect.nodes.customEffect.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.moveEffect.width}"
		ng-if="shownColumns.effect.shown &&
			shownColumns.effect.nodes.moveEffect.shown">
		<div fs-select="'boolean'" options="shownColumns.effectLists[actionId]"></div>
		<b>Move Effect</b>
		<div resize-handle="Width" id="Move Effect {{actionId}}"
			resize-width="shownColumns.effect.nodes.moveEffect.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.listItem1.width}"
		ng-if="shownColumns.effect.nodes.listItem1.shown">
		<b>List Item 1</b>
		<button ng-click="shownColumns.effect.nodes.listItem1.shown = !shownColumns.effect.nodes.listItem1.shown">(-)</button>
		<div resize-handle="Width" id="List Item 1 {{actionId}}"
			resize-width="shownColumns.effect.nodes.listItem1.width"></div>
	</div>

	<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.listItem2.width}"
		ng-if="shownColumns.effect.nodes.listItem2.shown">
		<b>List item 2</b>
		<button ng-click="shownColumns.effect.nodes.listItem2.shown = !shownColumns.effect.nodes.listItem2.shown">(-)</button>
		<div resize-handle="Width" id="List Item 2 {{actionId}}"
			resize-width="shownColumns.effect.nodes.listItem2.width"></div>
	</div>

	<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.listItem3.width}"
		ng-if="shownColumns.effect.nodes.listItem3.shown">
		<b>List item 3</b>
		<button ng-click="shownColumns.effect.nodes.listItem3.shown = !shownColumns.effect.nodes.listItem3.shown">(-)</button>
		<div resize-handle="Width" id="List Item 3 {{actionId}}"
			resize-width="shownColumns.effect.nodes.listItem3.width"></div>
	</div>
	
	<!-- Action Attack -->
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackType.width}"
		ng-if="shownColumns.attackType.shown">
		<b>Attack Type</b>
		<div resize-handle="Width" id="Attack Type {{actionId}}"
			resize-width="shownColumns.attackType.width"></div>
	</div>

	<div class="inline-flex" ng-style="{'width': shownColumns.attackRoll.width}"
		ng-if="shownColumns.attackRoll.shown">
		<b>Attack Roll</b>
		<div resize-handle="Width" id="Attack Roll {{actionId}}"
			resize-width="shownColumns.attackRoll.width"></div>
	</div>

	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.damage.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.damage.shown">
			<b>Damage</b>
		<div resize-handle="Width" id="Damage {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.damage.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.enableMove.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.enableMove.shown">
			<b>Enable Move</b>
		<div resize-handle="Width" id="Enable Move {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.enableMove.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.forceMove.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.forceMove.shown">
			<b>Force Move</b>
		<div resize-handle="Width" id="Force Move {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.forceMove.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.enableAction.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.enableAction.shown">
			<b>Enable Action</b>
		<div resize-handle="Width" id="Enable Action {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.enableAction.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.negateInjury.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.negateInjury.shown">
			<b>Negate Injury</b>
		<div resize-handle="Width" id="Negate Injury {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.negateInjury.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.forceAction.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.forceAction.shown">
			<b>Force Action</b>
		<div resize-handle="Width" id="Force Action {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.forceAction.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.attackCurse.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.attackCurse.shown">
			<b>Attack Curse</b>
		<div resize-handle="Width" id="Attack Curse {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.attackCurse.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.expelCurse.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.expelCurse.shown">
			<b>Expel Curse</b>
		<div resize-handle="Width" id="Expel Curse {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.expelCurse.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.trapCurse.width}"
		ng-if="shownColumns.attackSuccess.shown && 
			shownColumns.attackSuccess.nodes.trapCurse.shown">
			<b>Trap Curse</b>
		<div resize-handle="Width" id="Trap Curse {{actionId}}"
			resize-width="shownColumns.attackSuccess.nodes.trapCurse.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.attackCriticalSuccess.width}"
		ng-if="shownColumns.attackCriticalSuccess.shown">
		<b>Critical Success</b>
		<div resize-handle="Width" id="Attack Critical Success {{actionId}}"
			resize-width="shownColumns.attackCriticalSuccess.width"></div>
	</div>
</div>