<div class="inline-flex">
	
	<div class="flex-column">
		
		<div class="inline-flex">
			<div fs-select="'nested'" options="shownColumns"></div>
			<div class="row-header">Card Details</div>
		</div>
		
		<div class="section-underline"></div>
		
		<div class="inline-flex">
			
			<div class="inline-flex">
				<div style="width: 3em"></div>
				<div faux-handle="Width"></div>
			</div>
			
			<div class="inline-flex" ng-style="{'width': shownColumns.name.width}"
				ng-if="shownColumns.name.shown">
				<b>Name</b>
				<div resize-handle="Width" id="Name"
					resize-width="shownColumns.name.width"></div>
			</div>
			
			<div class="inline-flex" ng-style="{'width': shownColumns.aspect.width}"
				ng-if="shownColumns.aspect.shown">
				<b>Aspect</b>
				<div resize-handle="Width" id="Aspect"
					resize-width="shownColumns.aspect.width"></div>
			</div>
			
			<div class="inline-flex" ng-style="{'width': shownColumns.description.width}"
				ng-if="shownColumns.description.shown">
				<b>Description</b>
				<div resize-handle="Width" id="Description"
					resize-width="shownColumns.description.width"></div>
			</div>
			
			<div class="inline-flex" ng-style="{'width': shownColumns.benefit.width}"
				ng-if="shownColumns.benefit.shown">
				<b>Benefit</b>
				<div resize-handle="Width" id="Benefit"
					resize-width="shownColumns.benefit.width"></div>
			</div>
			
			<div class="inline-flex" ng-style="{'width': shownColumns.benefit.nodes.criticalSuccess.width}"
				ng-if="shownColumns.benefit.nodes.criticalSuccess.shown">
				<b>Critical Success</b>
				<div resize-handle="Width" id="Critical Success" 
					resize-width="shownColumns.benefit.nodes.criticalSuccess.width"></div>
			</div>
			
		</div>
		
	</div>

	<div class="flex-column"
		ng-if="shownColumns.item.shown"
		fs-grid-item-titles grid-deck="gridDeck"
		shown-columns="shownColumns.item.nodes">
	</div>
	
	<div class="flex-column fill-height"
		ng-if="shownColumns.statistic.shown"
		fs-grid-statistic-titles grid-deck="gridDeck"
		shown-columns="shownColumns.statistic.nodes">
	</div>
	
	<div class="flex-column fill-height"
		ng-if="shownColumns.modifier.shown"
		fs-grid-modifier-titles grid-deck="gridDeck"
		shown-columns="shownColumns.modifier.nodes">
	</div>

	<div class="flex-column"
		ng-if="shownColumns.defense.shown"
		fs-grid-defense-titles grid-deck="gridDeck"
		shown-columns="shownColumns.defense.nodes">
	</div>

	<div class="flex-column"
		ng-if="shownColumns.action1.shown"
		fs-grid-action-titles grid-deck="gridDeck" action-id="0"
		shown-columns="shownColumns.action1.nodes">
	</div>
	
	<div class="flex-column"
		ng-if="shownColumns.action2.shown"
		fs-grid-action-titles grid-deck="gridDeck" action-id="1"
		shown-columns="shownColumns.action2.nodes">
	</div>
	
</div>

<div faux-handle="Height"></div>