<div class="inline-flex">
	<div fs-select="'nested'" options="shownColumns"></div>
	<div class="row-header">Statistics</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex">
	
	<div class="inline-flex" ng-style="{'width': shownColumns.baseDurability.width}"
		ng-if="shownColumns.baseDurability.shown">
		<b>Base Durability</b>
		<div resize-handle="Width" id="Base Durability"
			resize-width="shownColumns.baseDurability.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.baseMoveSpeed.width}"
		ng-if="shownColumns.baseMoveSpeed.shown">
		<b>Base Move Speed</b>
		<div resize-handle="Width" id="Base Move Speed"
			resize-width="shownColumns.baseMoveSpeed.width"></div>
	</div>

	
</div>