<div class="flex-column fill-width">
	<div class="inline-flex fill-height">
		<div class="inline-flex">
			<div style="height: 3em; width: 3em"></div>
			<div faux-handle="Width"></div>
		</div>
		<div class="inline-flex" fs-grid-header="shownColumns"></div>
	</div>
	<div resize-handle="Height" id="title-row"></div>
</div>

<div class="remain-selected flex-column fill-width"
	ng-repeat="gridCard in gridDeck.cardList | orderBy: 'cardNumber' | startFrom:currentPage*pageSize | limitTo:pageSize"
	ng-class="{selectrow: (gridCard === gridDeck.currentRow)}"
	fs-grid-row="gridCard"
	deck-type="gridDeck.deckType"
	ng-click="selectRow(gridCard);"
	shown-columns="shownColumns"></div>
	
<div>
	<div style="width: 3em; display: inline-block">
		<button ng-show="currentPage > 0" style="width: 100%"
			ng-click="currentPage = currentPage-1;">Prev</button>
	</div>
		{{currentPage * pageSize + 1}} - {{(currentPage+1) * pageSize}} of {{gridDeck.cardList.length}}
	<div style="width: 3em; display: inline-block">
		<button ng-show="currentPage < numberOfPages()-1" style="width: 100%"
			ng-click="currentPage = currentPage+1;">Next</button>
	</div>
</div>