<div class="flex-column">
	<div ng-if="gridHeader.shown && gridHeader.sectionTitle"
		class="inline-flex" style="flex-grow: 0">

		<fs-select select-type="'nested'" options="gridHeader.nodes"></fs-select>

		<div class="row-header">{{gridHeader.sectionTitle}}</div>
		
		<a class="hide-link" ng-click="gridHeader.shown = false">(-)</a>

	</div>

	<div ng-if="gridHeader.shown && gridHeader.sectionTitle"
		class="section-underline" style="flex: 0"></div>

	<div ng-if="gridHeader.shown"
		class="inline-flex" style="flex: 1"
		ng-style="{'width': gridHeader.width}">
		
		<b style="flex: 1">{{gridHeader.columnTitle}}</b>
		
		<a ng-if="gridHeader.columnTitle" class="hide-link" style="flex: 0"
			ng-click="gridHeader.shown = false">(-)</a>
		
		<div ng-if="gridHeader.columnTitle"
			resize-handle="Width" id="{{gridHeader.id}}"
			resize-width="gridHeader.width"></div>
		
		<div class="inline-flex" ng-repeat="node in gridHeader.nodes"
			fs-grid-header="node"></div>
		
	</div>
</div>

