<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Damage']">
	<div fs-numpicker
		numvalue="gridModifier.damageModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Damage"></div>
</div>

<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Durability']">
	<div fs-numpicker
		numvalue="gridModifier.durabilityModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Durability"></div>
</div>

<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Base Durability']">
	<div fs-numpicker
		numvalue="gridModifier.baseDurability"
		numvaluemin="2"
		numvaluemax="6"
		numdefault="4"
		numdelay="500"></div>
	<div resize-handle="Width" id="Base Durability"></div>
</div>

<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Defense']">
	<div fs-numpicker
		numvalue="gridModifier.defenseModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Defense"></div>
</div>

<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Speed']">
	<div fs-numpicker
		numvalue="gridModifier.speedModifier"
		numvaluemin="-1"
		numvaluemax="1"
		numdefault="0"
		numincrement="0.1"
		numdelay="500"></div>
	<div resize-handle="Width" id="Speed"></div>
</div>

<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Base Speed']">
	<div fs-numpicker
		numvalue="gridModifier.baseSpeed"
		numvaluemin="2"
		numvaluemax="4"
		numdefault="3"
		numincrement="0.1"
		numdelay="500"></div>
	<div resize-handle="Width" id="Base Speed"></div>
</div>

<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Finesse']">
	<div fs-numpicker
		numvalue="gridModifier.finesseModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Finesse"></div>
</div>

<div class="inline-flex" style="width: 10em"
	ng-if="shownColumns.modifiers['Carrying Capacity']">
	<div fs-numpicker
		numvalue="gridModifier.carryingCapacityModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Speed"></div>
</div>