<div class="inline-flex">
	<div fs-select="'nested'" options="shownColumns"></div>
	<div class="row-header">Item Properties</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex" >
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.slot.shown">
		<b>Slot</b>
		<div resize-handle="Width" id="Item Slot"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.type.shown">
		<b>Type</b>
		<div resize-handle="Width" id="Item Type"></div>
	</div>
	
	<div class="inline-flex" style="width: 6em"
		ng-if="shownColumns.weight.shown">
		<b>Weight</b>
		<div resize-handle="Width" id="Item Weight"></div>
	</div>
	
	<div class="inline-flex" style="width: 6em"
		ng-if="shownColumns.cost.shown">
		<b>Cost</b>
		<div resize-handle="Width" id="Item Cost"></div>
	</div>
	
</div>