<div class="inline-flex">
	<div fs-select="'nested'" options="shownColumns"></div>
	<div class="row-header">Defenses</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex">
	
	<div class="inline-flex" ng-style="{'width': shownColumns.block.width}"
		ng-if="shownColumns.block.shown">
		<b>Block</b>
		<div resize-handle="Width" id="Block"
			resize-width="shownColumns.block.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.dodge.width}"
		ng-if="shownColumns.dodge.shown">
		<b>Dodge</b>
		<div resize-handle="Width" id="Dodge"
			resize-width="shownColumns.dodge.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.alertness.width}"
		ng-if="shownColumns.alertness.shown">
		<b>Alertness</b>
		<div resize-handle="Width" id="Alertness"
			resize-width="shownColumns.alertness.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.tenacity.width}"
		ng-if="shownColumns.tenacity.shown">
		<b>Tenacity</b>
		<div resize-handle="Width" id="Tenacity"
			resize-width="shownColumns.tenacity.width"></div>
	</div>
	
</div>