<div class="inline-flex">
	<div fs-select="'nested'" options="shownColumns"></div>
	<div class="row-header">Defenses</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex">
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.block.shown">
		<b>Block</b>
		<div resize-handle="Width" id="Block"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.dodge.shown">
		<b>Dodge</b>
		<div resize-handle="Width" id="Dodge"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.alertness.shown">
		<b>Alertness</b>
		<div resize-handle="Width" id="Alertness"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.tenacity.shown">
		<b>Tenacity</b>
		<div resize-handle="Width" id="Tenacity"></div>
	</div>
	
</div>