<div class="inline-flex">
	<div fs-select="'boolean'" options="shownColumns.actions[actionId]"></div>
	<div class="row-header">Action {{actionId+1}}</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex">
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.actions[actionId]['Name']">
		<b>Name</b>
		<div resize-handle="Width" id="Name {{actionId}}"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.actions[actionId]['Target']">
		<b>Target</b>
		<div resize-handle="Width" id="Target {{actionId}}"></div>
	</div>

	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.actions[actionId]['Usage']">
		<b>Usage</b>
		<div resize-handle="Width" id="Usage {{actionId}}"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.actions[actionId]['Frequency']">
		<b>Frequency</b>
		<div resize-handle="Width" id="Frequency {{actionId}}"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.actions[actionId]['Effect']">
		<div fs-select="'boolean'" options="shownColumns.effectLists[actionId]"></div>
		<b>Effect</b>
		<div resize-handle="Width" id="Effect {{actionId}}"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.effectLists[actionId]['List 1']">
		<b>Item 1</b>
		<div resize-handle="Width" id="List 1 {{actionId}}"></div>
	</div>

	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.effectLists[actionId]['List 2']">
		<b>item 2</b>
		<div resize-handle="Width" id="List 2 {{actionId}}"></div>
	</div>

	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.effectLists[actionId]['List 3']">
		<b>item 3</b>
		<div resize-handle="Width" id="List 3 {{actionId}}"></div>
	</div>
	
	<!-- Action Attack -->
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.actions[actionId]['Attack Type']">
		<b>Attack Type</b>
		<div resize-handle="Width" id="Attack Type {{actionId}}"></div>
	</div>

	<div class="inline-flex" style="width: 20em"
		ng-if="shownColumns.actions[actionId]['Attack Roll']">
		<b>Attack Roll</b>
		<div resize-handle="Width" id="Attack Roll {{actionId}}"></div>
	</div>

	<div class="inline-flex" style="width: 20em"
		ng-if="shownColumns.actions[actionId]['Attack Success']">
		<b>Success</b>
		<div resize-handle="Width" id="Attack Success {{actionId}}"></div>
	</div>

	<div class="inline-flex" style="width: 20em"
		ng-if="shownColumns.actions[actionId]['Attack Critical Success']">
		<b>Critical Success</b>
		<div resize-handle="Width" id="Attack Critical Success {{actionId}}"></div>
	</div>
</div>