<div class="inline-flex" ng-style="{'width': shownColumns.damageModifier.width}"
	ng-if="shownColumns.damageModifier.shown">
	<div fs-numpicker
		numvalue="gridModifier.damageModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Damage Modifier"
		resize-width="shownColumns.damageModifier.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.durabilityModifier.width}"
	ng-if="shownColumns.durabilityModifier.shown">
	<div fs-numpicker
		numvalue="gridModifier.durabilityModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Durability Modifier"
		resize-width="shownColumns.durabilityModifier.width"></div>
</div>


<div class="inline-flex" ng-style="{'width': shownColumns.defenseModifier.width}"
	ng-if="shownColumns.defenseModifier.shown">
	<div fs-numpicker
		numvalue="gridModifier.defenseModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Defense Modifier"
		resize-width="shownColumns.defenseModifier.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.moveSpeedModifier.width}"
	ng-if="shownColumns.moveSpeedModifier.shown">
	<div fs-numpicker
		numvalue="gridModifier.moveSpeedModifier"
		numvaluemin="-1"
		numvaluemax="1"
		numdefault="0"
		numincrement="0.1"
		numdelay="500"></div>
	<div resize-handle="Width" id="Move Speed Modifier"
		resize-width="shownColumns.moveSpeedModifier.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.finesseModifier.width}"
	ng-if="shownColumns.finesseModifier.shown">
	<div fs-numpicker
		numvalue="gridModifier.finesseModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Finesse Modifier"
		resize-width="shownColumns.finesseModifier.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.carryingCapacityModifier.width}"
	ng-if="shownColumns.carryingCapacityModifier.shown">
	<div fs-numpicker
		numvalue="gridModifier.carryingCapacityModifier"
		numvaluemin="-4"
		numvaluemax="4"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Carrying Capacity Modifier"
		resize-width="shownColumns.carryingCapacityModifier.width"></div>
</div>