<div class="inline-flex" ng-style="{'width': shownColumns.name.width}"
	ng-if="shownColumns.name.shown">
	<input type="text" ng-model="gridAction.name">
	<div resize-handle="Width" id="Name {{actionId}}"
		resize-width="shownColumns.name.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.target.width}"
	ng-if="shownColumns.target.shown">
		<fs-select style="flex: 2"
			selection="gridAction.targetType"
			options="[dataSrvc.targetTypes]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="gridAction.targetType === 'Close'"
			selection="gridAction.targetDetail"
			options="[dataSrvc.closeDetails]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="gridAction.targetType === 'Close Area'"
			selection="gridAction.targetDetail"
			options="[dataSrvc.closeAreaDetails]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="gridAction.targetType === 'Distant'"
			selection="gridAction.targetDetail"
			options="[dataSrvc.distantDetails]"></fs-select>
		<fs-select style="flex: 1"
			ng-if="gridAction.targetType === 'Distant Area'"
			selection="gridAction.targetDetail"
			options="[dataSrvc.distantAreaDetails]"></fs-select>
	<div resize-handle="Width" id="Target {{actionId}}"
		resize-width="shownColumns.target.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.usage.width}"
	ng-if="shownColumns.usage.shown">
	<fs-select selection="gridAction.usage"
		options="[['Default', 'Single-use']]"></fs-select>
	<div resize-handle="Width" id="Usage {{actionId}}"
		resize-width="shownColumns.usage.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.frequency.width}"
	ng-if="shownColumns.frequency.shown">
	<fs-select ng-if="!gridCard.itemSlot"
		selection="gridAction.frequency"
		options="[dataSrvc.actionCount]"></fs-select>
	
	<fs-select ng-if="dataSrvc.nonDualItemSlots.indexOf(gridCard.itemSlot) > -1"
		selection="gridAction.frequency"
		options="[dataSrvc.actionCount]"></fs-select>
		
	<fs-select ng-if="dataSrvc.dualItemSlots.indexOf(gridCard.itemSlot) > -1"
		selection="gridAction.frequency"
		options="[dataSrvc.dualItemCount]"></fs-select>
	<div resize-handle="Width" id="Frequency {{actionId}}"
		resize-width="shownColumns.frequency.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.count.width}"
	ng-if="shownColumns.count.shown">
	<div fs-numpicker
		numvalue="gridAction.count"
		numvaluemin="2"
		numvaluemax="6"
		numdefault="4"
		numdelay="500"></div>
	<div resize-handle="Width" id="Count {{actionId}}"
		resize-width="shownColumns.count.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.customEffect.width}"
	ng-if="shownColumns.effect.shown &&
		shownColumns.effect.nodes.customEffect.shown">
	<textarea ng-model="gridAction.effect.customEffect" style="flex: 1"></textarea>
	<div resize-handle="Width" id="Custom Effect {{actionId}}"
		resize-width="shownColumns.effect.nodes.customEffect.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.moveEffect.width}"
	ng-if="shownColumns.effect.shown &&
		shownColumns.effect.nodes.moveEffect.shown">
	<div fs-numpicker
		numvalue="gridAction.effect.moveEffect"
		numvaluemin="0"
		numvaluemax="3"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Move Effect {{actionId}}"
		resize-width="shownColumns.effect.nodes.moveEffect.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.listItem1.width}"
	ng-if="shownColumns.effect.shown &&
		shownColumns.effect.nodes.listItem1.shown">
	<div class="flex-column fill-width">
		<input type="text" ng-model="gridAction.effect.list[0].leader" style="flex: 0;">
		<textarea ng-model="gridAction.effect.list[0].content" style="flex: 1"></textarea>
	</div>
	<div resize-handle="Width" id="List Item 1 {{actionId}}"
		resize-width="shownColumns.effect.nodes.listItem1.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.listItem2.width}"
	ng-if="shownColumns.effect.shown &&
		shownColumns.effect.nodes.listItem2.shown">
	<div class="flex-column fill-width">
		<input type="text" ng-model="gridAction.effect.list[1].leader" style="flex: 0;">
		<textarea ng-model="gridAction.effect.list[1].content" style="flex: 1"></textarea>
	</div>
	<div resize-handle="Width" id="List Item 2 {{actionId}}"
		resize-width="shownColumns.effect.nodes.listItem2.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.effect.nodes.listItem3.width}"
	ng-if="shownColumns.effect.shown &&
		shownColumns.effect.nodes.listItem3.shown">
	<div class="flex-column fill-width">
		<input type="text" ng-model="gridAction.effect.list[2].leader" style="flex: 0;">
		<textarea ng-model="gridAction.effect.list[2].content" style="flex: 1"></textarea>
	</div>
	<div resize-handle="Width" id="List Item 3 {{actionId}}"
		resize-width="shownColumns.effect.nodes.listItem3.width"></div>
</div>

<!-- Action Attack -->

<div class="inline-flex" ng-style="{'width': shownColumns.attackType.width}"
	ng-if="shownColumns.attackType.shown">
	<fs-select
		selection="gridAction.attackType"
		options="[dataSrvc.attackTypes]"></fs-select>
	<div resize-handle="Width" id="Attack Type {{actionId}}"
		resize-width="shownColumns.attackType.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackRoll.width}"
	ng-if="shownColumns.attackRoll.shown">
	<fs-select style="flex: 4"
		selection="gridAction.dice_a"
		options="[dataSrvc.abilities]"></fs-select>
	<div class="text-center" style="flex: 1">+</div>
	<fs-select style="flex: 4"
		selection="gridAction.dice_b"
		options="[dataSrvc.abilities]"></fs-select>
	<fs-select style="flex: 2"
		selection="gridAction.attackModifier"
		toggle-header="'+ / -'"
		options="[[' + 1',' - 1']]"></fs-select>
	<div class="text-center" style="flex: 2">vs.</div>
	<fs-select style="flex: 6"
		selection="gridAction.versus"
		options="[dataSrvc.defenseTypes]"></fs-select>
	<div resize-handle="Width" id="Attack Roll {{actionId}}"
		resize-width="shownColumns.attackRoll.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.damage.width}"
	ng-if="shownColumns.attackSuccess.shown &&
		shownColumns.attackSuccess.nodes.damage.shown">
	<div fs-numpicker
		numvalue="gridAction.success.damage"
		numvaluemin="2"
		numvaluemax="14"
		numdefault="8"
		numdelay="500"></div>
	<div resize-handle="Width" id="Damage {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.damage.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.enableMove.width}"
	ng-if="shownColumns.attackSuccess.shown &&
		shownColumns.attackSuccess.nodes.enableMove.shown">
	<div fs-numpicker
		numvalue="gridAction.success.enableMove"
		numvaluemin="0"
		numvaluemax="3"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Enable Move {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.enableMove.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.forceMove.width}"
	ng-if="shownColumns.attackSuccess.shown &&
		shownColumns.attackSuccess.nodes.forceMove.shown">
	<div fs-numpicker
		numvalue="gridAction.success.forceMove"
		numvaluemin="0"
		numvaluemax="3"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Force Move {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.forceMove.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.enableAction.width}"
	ng-if="shownColumns.attackSuccess.shown && 
		shownColumns.attackSuccess.nodes.enableAction.shown">
	<div fs-numpicker
		numvalue="gridAction.success.enableAction"
		numvaluemin="0"
		numvaluemax="5"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Enable Action {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.enableAction.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.negateInjury.width}"
	ng-if="shownColumns.attackSuccess.shown && 
		shownColumns.attackSuccess.nodes.negateInjury.shown">
	<div fs-numpicker
		numvalue="gridAction.success.negateInjury"
		numvaluemin="0"
		numvaluemax="5"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Negate Injury {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.negateInjury.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.forceAction.width}"
	ng-if="shownColumns.attackSuccess.shown && 
		shownColumns.attackSuccess.nodes.forceAction.shown">
	<div fs-numpicker
		numvalue="gridAction.success.forceAction"
		numvaluemin="0"
		numvaluemax="5"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Force Action {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.forceAction.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.attackCurse.width}"
	ng-if="shownColumns.attackSuccess.shown && 
		shownColumns.attackSuccess.nodes.attackCurse.shown">
	<div fs-numpicker
		numvalue="gridAction.success.attackCurse"
		numvaluemin="0"
		numvaluemax="5"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Attack Curse {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.attackCurse.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.expelCurse.width}"
	ng-if="shownColumns.attackSuccess.shown && 
		shownColumns.attackSuccess.nodes.expelCurse.shown">
	<div fs-numpicker
		numvalue="gridAction.success.expelCurse"
		numvaluemin="0"
		numvaluemax="5"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Expel Curse {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.expelCurse.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.attackSuccess.nodes.trapCurse.width}"
	ng-if="shownColumns.attackSuccess.shown && 
		shownColumns.attackSuccess.nodes.trapCurse.shown">
	<div fs-numpicker style="flex: 1"
		numvalue="gridAction.success.trapCurse"
		numvaluemin="0"
		numvaluemax="5"
		numdefault="0"
		numdelay="500"></div>
	<div resize-handle="Width" id="Trap Curse {{actionId}}"
		resize-width="shownColumns.attackSuccess.nodes.trapCurse.width"></div>
</div>


<div class="inline-flex" style="width: 20em"
	ng-if="shownColumns.attackCriticalSuccess.shown">
	<fs-select
		selection="gridAction.criticalSuccess.damage" style="flex: 1"
		options="[dataSrvc.damageDice]"></fs-select>
	<textarea ng-model="gridAction.criticalSuccess.effect"
		style="flex: 2"></textarea>
	<div resize-handle="Width" id="Attack Critical Success {{actionId}}"
		resize-width="shownColumns.attackCriticalSuccess.width"></div>
</div>