<div class="inline-flex fill-height" style="height: 2em;">
	<div class="inline-flex" style="width: 1.4em">
		<div fs-dropdown id="gridCard.id" class="open-down">
			<div class="fs-dropdown-toggle {{gridCard.cardType}}">
				<div class="grid-card-icon">{{gridCard.cardNumber}}</div>
			</div>
			<div class="fs-dropdown-panel">
				<div class="{{gridCard.cardType}}" style="height: 21em; width: 15em; border: none;" >
					<div feature-card="gridCard"
						class="fill-parent content-panel grid-card"></div>
				</div>
			</div>
		</div>
		<div faux-handle="Width"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.card['Name']">
		<input type="text" ng-model="gridCard.name">
		<div resize-handle="Width" id="Name"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.card['Aspect']">
		<div fs-select selection="gridCard.aspect"
			toggle-header="'Aspect'"
			option-headers="['Classes','Factions','Races']"
			options="[deckDependencies.classes,
				deckDependencies.factions,
				deckDependencies.races]"></div>
		<div resize-handle="Width" id="Aspect"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.card['Aspect Type']">
		<div fs-select selection="gridCard.aspectType"
			toggle-header="'Aspect Type'"
			options="[dataSrvc.aspectTypes]"></div>
		<div resize-handle="Width" id="Aspect Type"></div>
	</div>
	
	<div class="inline-flex" style="width: 15em"
		ng-if="shownColumns.card['Description']">
		<textarea ng-model="gridCard.description" rows="2"></textarea>
		<div resize-handle="Width" id="Description"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.card['Benefit']">
		<textarea ng-model="gridCard.benefit" rows="2"></textarea>
		<div resize-handle="Width" id="Benefit"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.card['Critical Success']">
		<textarea ng-model="gridCard.benefitCritical" rows="2"></textarea>
		<div resize-handle="Width" id="Critical Success"></div>
	</div>
	
	<div class="inline-flex"
		fs-grid-item-row="gridCard"
		ng-if="shownColumns.card['Item']"
		shown-columns="shownColumns">
	</div>
	
	<div class="inline-flex"
		fs-grid-modifier-row="gridCard" 
		ng-if="shownColumns.card['Modifiers']"
		shown-columns="shownColumns">
	</div>
	
	<div class="inline-flex"
		fs-grid-defense-row="gridCard"
		ng-if="shownColumns.card['Defenses']"
		shown-columns="shownColumns">
	</div>
	
	<div class="inline-flex" 
		ng-repeat="action in gridCard.actions track by $index"
		ng-if="shownColumns.card['Action '+($index+1)]"
		fs-grid-action-row="action" action-id="$index"
		shown-columns="shownColumns">
	</div>
	
</div><div resize-handle="Height" id="{{gridCard._id}}"></div>