<div class="inline-flex">
	<div fs-select="'boolean'" options="shownColumns.modifiers"></div>
	<div class="row-header">Modifiers</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex">
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.modifiers['Damage']">
		<b>Damage</b>
		<div resize-handle="Width" id="Damage"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.modifiers['Durability']">
		<b>Durability</b>
		<div resize-handle="Width" id="Durability"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.modifiers['Base Durability']">
		<b>Base Durability</b>
		<div resize-handle="Width" id="Base Durability"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.modifiers['Defense']">
		<b>Defense</b>
		<div resize-handle="Width" id="Defense"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.modifiers['Speed']">
		<b>Speed</b>
		<div resize-handle="Width" id="Speed"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.modifiers['Finesse']">
		<b>Finesse</b>
		<div resize-handle="Width" id="Finesse"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.modifiers['Carrying Capacity']">
		<b>Carrying Capacity</b>
		<div resize-handle="Width" id="Carrying Capacity"></div>
	</div>
	
</div>