<div class="inline-flex">
	<div fs-select="'nested'" options="shownColumns"></div>
	<div class="row-header">Modifiers</div>
</div>

<div class="section-underline"></div>

<div class="inline-flex">
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.damageModifier.shown">
		<b>Damage</b>
		<div resize-handle="Width" id="Damage Modifier"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.durabilityModifier.shown">
		<b>Durability</b>
		<div resize-handle="Width" id="Durability Modifier"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.defenseModifier.shown">
		<b>Defense</b>
		<div resize-handle="Width" id="Defense Modifier"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.moveSpeedModifier.shown">
		<b>Move Speed</b>
		<div resize-handle="Width" id="Move Speed Modifier"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.finesseModifier.shown">
		<b>Finesse</b>
		<div resize-handle="Width" id="Finesse Modifier"></div>
	</div>
	
	<div class="inline-flex" style="width: 10em"
		ng-if="shownColumns.carryingCapacityModifier.shown">
		<b>Carrying Capacity</b>
		<div resize-handle="Width" id="Carrying Capacity Modifier"></div>
	</div>
	
</div>