<div class="inline-flex" ng-style="{'width': shownColumns.slot.width}"
	ng-if="shownColumns.slot.shown">
	<div fs-select select-header="'Slot'"
		selection="gridItem.itemSlot"
		options="[dataSrvc.itemSlots]"></div>
	<div resize-handle="Width" id="Item Slot"
		resize-width="shownColumns.slot.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.type.width}"
	ng-if="shownColumns.type.shown">
	<div fs-select select-header="'Type'"
		selection="gridItem.itemType"
		options="[dataSrvc.itemTypes]"></div>
	<div resize-handle="Width" id="Item Type"
		resize-width="shownColumns.type.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.weight.width}"
	ng-if="shownColumns.weight.shown">
	<div fs-numpicker
		numvalue="gridItem.weight"
		numvaluemin="0"
		numvaluemax="99"
		numdefault="0"
		numdelay="200"></div>
	<div resize-handle="Width" id="Item Weight"
		resize-width="shownColumns.weight.width"></div>
</div>

<div class="inline-flex" ng-style="{'width': shownColumns.cost.width}"
	ng-if="shownColumns.cost.shown">
	<div fs-numpicker
		numvalue="gridItem.cost"
		numvaluemin="0"
		numvaluemax="999"
		numdefault="0"
		numdelay="200"></div>
	<div resize-handle="Width" id="Item Cost"
		resize-width="shownColumns.cost.width"></div>
</div>