<div class="inline-flex" style="flex: 1">
	<div class="inline-flex">
		<div fs-dropdown id="gridCard.id" class="open-down">
			<div class="fs-dropdown-toggle {{gridCard.cardType}}">
				<div class="grid-card-icon text-center">
					<div class="text-6">
						<b>#{{gridCard.cardNumber}}</b>
						<br>
						<span fs-grid-stats="gridCard"></span>
					</div>
				</div>
			</div>
			<div class="fs-dropdown-panel">
				<div >
					<div style="height: 21em; width: 15em;" 
						feature-card="gridCard" class="{{gridCard.cardType}}"
						class="fill-parent content-panel grid-card"></div>
				</div>
			</div>
		</div>
		<div faux-handle="Width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.name.width}"
		ng-if="shownColumns.name.shown">
		<input type="text" ng-model="gridCard.name">
		<div resize-handle="Width" id="Name"
			resize-width="shownColumns.name.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.aspect.width}"
		ng-if="shownColumns.aspect.shown">
		<div fs-select selection="gridCard.aspect"
			toggle-header="'Aspect'"
			option-headers="['Classes','Factions','Races']"
			options="[deckDependencies.classes,
				deckDependencies.factions,
				deckDependencies.races]"></div>
		<div resize-handle="Width" id="Aspect"
			resize-width="shownColumns.aspect.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.description.width}"
		ng-if="shownColumns.description.shown">
		<textarea ng-model="gridCard.description" rows="2"></textarea>
		<div resize-handle="Width" id="Description"
			resize-width="shownColumns.description.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.benefit.width}"
		ng-if="shownColumns.benefit.shown">
		<textarea ng-model="gridCard.benefit" rows="2"></textarea>
		<div resize-handle="Width" id="Benefit"
			resize-width="shownColumns.benefit.width"></div>
	</div>
	
	<div class="inline-flex" ng-style="{'width': shownColumns.benefit.nodes.criticalSuccess.width}"
		ng-if="shownColumns.benefit.nodes.criticalSuccess.shown">
		<textarea ng-model="gridCard.benefitCritical" rows="2"></textarea>
		<div resize-handle="Width" id="Critical Success"
			resize-width="shownColumns.benefit.nodes.criticalSuccess.width"></div>
	</div>
	
	<div class="inline-flex"
		fs-grid-item-row="gridCard"
		ng-if="shownColumns.item.shown"
		shown-columns="shownColumns.item.nodes">
	</div>
	
	<div class="inline-flex"
		fs-grid-statistic-row="gridCard" 
		ng-if="shownColumns.statistic.shown"
		shown-columns="shownColumns.statistic.nodes">
	</div>
	
	<div class="inline-flex"
		fs-grid-modifier-row="gridCard" 
		ng-if="shownColumns.modifier.shown"
		shown-columns="shownColumns.modifier.nodes">
	</div>
	
	<div class="inline-flex"
		fs-grid-defense-row="gridCard"
		ng-if="shownColumns.defense.shown"
		shown-columns="shownColumns.defense.nodes">
	</div>
	
	<div class="inline-flex" 
		ng-if="shownColumns.action1.shown"
		fs-grid-action-row="gridCard.action1" grid-card="gridCard" action-id="0"
		shown-columns="shownColumns.action1.nodes">
	</div>

	<div class="inline-flex" 
		ng-if="shownColumns.action2.shown"
		fs-grid-action-row="gridCard.action2" grid-card="gridCard" action-id="1"
		shown-columns="shownColumns.action2.nodes">
	</div>
	
</div>

<div resize-handle="Height" id="{{gridCard._id}}"></div>
