<div class="inline-flex fill-height">
	
	<div class="flex-column fill-height">
	
		<div class="inline-flex fill-height">
			
			<div class="inline-flex">
				<fs-dropdown id="gridCard.id" class="open-down">
					<div class="fs-dropdown-toggle {{gridCard.cardType}}">
						<div class="grid-card-icon text-center">
							<div class="text-6">
								<b>#{{gridCard.cardNumber}}</b>
								<br>
								<span fs-grid-stats="gridCard"></span>
							</div>
						</div>
					</div>
					<div class="fs-dropdown-panel">
						<div class="feature-card">
							<feature-card
								card="gridCard" class="{{gridCard.cardType}}"
								class="fill-parent content-panel grid-card"></feature-card>
						</div>
					</div>
				</fs-dropdown>
				<div faux-handle="Width"></div>
			</div>
			
			<div class="inline-flex" fs-grid-input="gridCard.name"
				input-type="'text'" column-shown="shownColumns.nodes.name"></div>
			
			<div class="inline-flex" fs-grid-input="gridCard.aspect"
				input-type="'fs-select'"
				toggle-header="'Aspect'" option-headers="['Classes','Factions','Races']"
				options="[deckDependencies.classes, deckDependencies.factions, deckDependencies.races]"
				column-shown="shownColumns.nodes.aspect"></div>
			
			<div class="inline-flex" fs-grid-input="gridCard.description"
				input-type="'textarea'" column-shown="shownColumns.nodes.description"></div>
			
			<div ng-if="shownColumns.nodes.benefit.shown" class="inline-flex">
				
				<div class="inline-flex" fs-grid-input="gridCard.benefit"
					input-type="'textarea'" column-shown="shownColumns.nodes.benefit.nodes.benefit"></div>
				
				<div class="inline-flex" fs-grid-input="gridCard.benefitCritical"
					input-type="'textarea'" column-shown="shownColumns.nodes.benefit.nodes.criticalSuccess"></div>
				
			</div>
			
			<div class="inline-flex"
				fs-grid-item-row="gridCard"
				ng-if="shownColumns.item.shown"
				shown-columns="shownColumns.item.nodes">
			</div>
			
			<div class="inline-flex"
				fs-grid-statistic-row="gridCard" 
				ng-if="shownColumns.statistic.shown"
				shown-columns="shownColumns.statistic.nodes">
			</div>
			
			<div class="inline-flex"
				fs-grid-modifier-row="gridCard" 
				ng-if="shownColumns.modifier.shown"
				shown-columns="shownColumns.modifier.nodes">
			</div>
			
			<div class="inline-flex"
				fs-grid-defense-row="gridCard"
				ng-if="shownColumns.defense.shown"
				shown-columns="shownColumns.defense.nodes">
			</div>
			
			<div class="inline-flex" 
				ng-if="shownColumns.action1.shown"
				fs-grid-action-row="gridCard.action1" grid-card="gridCard" action-id="0"
				shown-columns="shownColumns.action1.nodes">
			</div>

			<div class="inline-flex" 
				ng-if="shownColumns.action2.shown"
				fs-grid-action-row="gridCard.action2" grid-card="gridCard" action-id="1"
				shown-columns="shownColumns.action2.nodes">
			</div>
			
		</div>

	</div>
	
</div>

<div resize-handle="Height" id="{{gridCard._id}}" ng-style="{'width': totalWidth(shownColumns)}"></div>