<div class="outerTable">
	
	<div class="outerRow">
		<div class="outerCell" style="height: 80%; padding: 1em">
			<div style="height: 100%; width: 100%; border: 2px solid black">
				<div class="scrollDiv">
					<div class="innerTable">
						<div class="innerRow">
							<div class="innerCell" style="">
								Chronicle List
							</div>
							<div class="innerCell" style="">
								Options
							</div>
							<div class="innerCell" style="">
								Last Modified
							</div>
							<div class="innerCell" style="">
								Created On
							</div>
						</div>
						
						
						<div class="innerRow row" ng-click="vm.selectRow(chronicle)"
							ng-class="{selected: (chronicle === vm.currentRow)}"
							ng-repeat="chronicle in vm.chronicleList">
							<div class="innerCell">{{chronicle.name}}</div>
							<div class="innerCell">
								&nbsp;
								<a href="/chronicles/{{chronicle._id}}">
									Edit
								</a>
								&nbsp;
								<a href="#" data-ng-click="vm.deleteChronicle(chronicle);">
									Delete
								</a>
								&nbsp;
							</div>
							<div class="innerCell" style="">
								{{chronicle.lastModified | date:'short'}}
							</div>
							<div class="innerCell" style="">
								{{chronicle.createdOn | date:'short'}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<button ng-click="vm.addChronicle()">New Chronicle</button>
		</div>
	</div>
	
</div>