<pc-card-1 ng-if="vm.card.cardType === 'pc1'"
	card="vm.card" deck="vm.deck"
	class="{{vm.card.cardType}} fill-parent">
</pc-card-1>

<pc-card-2 ng-if="vm.card.cardType === 'pc2'"
	card="vm.card" deck="deck"
	class="{{vm.card.cardType}} fill-parent">
</pc-card-2>

<pc-card-3 ng-if="vm.card.cardType === 'pc3'"
	card="vm.card" deck="deck"
	class="{{vm.card.cardType}} fill-parent">
</pc-card-3>

<pc-card-4 ng-if="vm.card.cardType === 'pc4'"
	card="vm.card" deck="deck"
	class="{{vm.card.cardType}} fill-parent">
</pc-card-4>

<feature-card ng-if="['Class','Faction','Race','Trait','Feat','Augment','Item'].indexOf(vm.card.cardType) > -1"
	card="vm.card" deck="vm.deck" class="{{vm.card.cardType}} fill-parent"></feature-card>
	
<choose-feature-card ng-if="['Choose Trait', 'Choose Feat', 'Choose Augment', 'Choose Item'].indexOf(vm.card.cardType) > -1" 
	card="vm.card" deck="vm.deck" class="{{vm.card.cardType}} fill-parent"></choose-feature-card>