<div class="content-panel flex-column" style="padding: 5px">
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>EXP: </b>
		</div>
		<div style="flex: 5;">
			<div fs-numpicker-hover
				numvalue="deck.experience"
				numvaluemin="0"
				numvaluemax="1100"
				numdefault="0"
				numdelay="200"
				numcallback="deck.factorExperience()"></div>
		</div>
		
		<div style="flex: 6;">
			<b>Health: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{deck.healthCurrent}}
			</span>
			/
			<span>
				{{deck.healthLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Level: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{deck.level}}
		</div>
		
		<div style="flex: 6;">
			<b>Stamina: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{deck.staminaCurrent}}
			</span>
			/
			<span>
				{{deck.staminaLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Size: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{deck.size}}
		</div>
		<div class="" style="flex: 6;">
			<b>Class: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span ng-repeat="class in deck.class">
				{{class.name}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Speed: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{deck.speed}}
		</div>
		<div class="" style="flex: 6;">
			<b>Faction: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span ng-repeat="faction in deck.faction">
				{{faction.name}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Trait<br>Cards:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{deck.traitLimit}}
		</div>
		<div class="" style="flex: 6;">
			<b>Carrying<br>Capacity: </b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{deck.carryCurrent}}
			</span>
			/
			<span>
				{{deck.carryLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Feat<br>Limit:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{deck.featLimit}}
		</div>
		<div class="" style="flex: 6;">
			<b>Augment<br>Limit:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{deck.augmentLimit}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Defense<br>Modifier:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{deck.defenseModifier}}
		</div>
		<div class="" style="flex: 6;">
			<b>Base<br>Durability:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{deck.baseDurability}}
			</span>
		</div>
	</div>
	
	<div class="inline-flex-center text-8" style="flex: 2;">
		<div style="flex: 4;">
			<b>Damage<br>Modifier:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			{{deck.damageModifier}}
		</div>
		<div class="" style="flex: 6;">
			<b>Total<br>Durability:</b>
		</div>
		<div class="text-center" style="flex: 5;">
			<span>
				{{deck.totalDurability}}
			</span>
		</div>
	</div>
	
</div>