<div class="outerTable" ng-controller="PcDeckListCtrl as vm">
	
	<div class="outerRow">
		<div class="outerCell" style="height: 80%; padding: 1em">
			<div style="height: 100%; width: 100%; border: 2px solid black">
				<div class="scrollDiv">
					<div class="innerTable">
						<div class="innerRow">
							<div class="innerCell" style="">
								PC Deck List
							</div>
						</div>
						<div class="innerRow row" ng-click="vm.selectRow(deck.name)"
							ng-class="{selected: (deck.name === vm.currentRow)}"
							ng-repeat="deck in vm.deckList track by $index">
							<div class="innerCell">{{deck.name}}</div>
							<div class="innerCell">
								<a href="/pcDecks/{{deck._id}}">
									Edit
								</a>
							</div>
							<div class="innerCell">
								<a href="#" data-ng-click="vm.deleteDeck(deck);">
									Delete
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="outerRow">
		<div class="outerCell" style="height: 10%; padding: 1em">
			<button ng-click="vm.addDeck()">New PC</button>
		</div>
	</div>
	
</div>