.modal-box {
	position: absolute;
}



[new-feature-options] > div {
	left: 250px;
	z-index: 6000;
	position: fixed;
	-moz-border-radius: .7em;
	-webkit-border-radius: .7em;
	border-radius: .7em;
	height: 21em;
	width: 21em;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 2px solid #111;
	border-bottom: 2px solid #111;
	background-color: lightGrey;
}