<div ng-if="card.defense.block.show" class="fill-width">
	<strong>Block Defense: </strong>
	
	<div fs-dropdown id="block-defense-dice-a" stop-event>
		<div class="fs-dropdown-toggle">
			{{card.defense.block.dice_a}}
			<span ng-hide="card.defense.block.dice_a">1d__</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul style="width: 30%" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Fixed Die</Strong></li>
					<li ng-repeat="dice in dataSrvc.dice"><label>
						<input type="radio" value="{{dice}}"
							ng-model="card.defense.block.dice_a">
						{{dice}}
					</label></li>
				</ul>
				<ul style="width: 30%" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Physical</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index < 4"><label>
						<input type="radio" value="{{ability}}"
							ng-model="card.defense.block.dice_a">
						{{ability}}
					</label></li>
				</ul>
				<ul style="width: 30%" stop-click>
					<li role="presentation" class="dropdown-header"><strong>Mental</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index > 3"><label>
						<input type="radio" value="{{ability}}"
							ng-model="card.defense.block.dice_a">
						{{ability}}
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	+
	<div fs-dropdown id="block-defense-dice-b" stop-event>
		<div class="fs-dropdown-toggle">
			{{card.defense.block.dice_b}}
			<span ng-hide="card.defense.block.dice_b">1d__</span>
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<ul stop-click>
					<li role="presentation" class="dropdown-header"><strong>Fixed Die</Strong></li>
					<li ng-repeat="dice in dataSrvc.dice"><label>
						<input type="radio" value="{{dice}}"
							ng-model="card.defense.block.dice_b">
						{{dice}}
					</label></li>
				</ul>
				<ul stop-click>
					<li role="presentation" class="dropdown-header"><strong>Physical</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index < 4"><label>
						<input type="radio" value="{{ability}}"
							ng-model="card.defense.block.dice_b">
						{{ability}}
					</label></li>
				</ul>
				<ul stop-click>
					<li role="presentation" class="dropdown-header"><strong>Mental</Strong></li>
					<li ng-repeat="ability in dataSrvc.abilities" ng-if="$index > 3"><label>
						<input type="radio" value="{{ability}}"
							ng-model="card.defense.block.dice_b">
						{{ability}}
					</label></li>
				</ul>
			</div>
		</div>
	</div>
	
</div>