<div ng-if="card.durability.show" class="fill-width">
	<div fs-dropdown id="card-durability" class="fill-width" stop-event>
		<div class="fs-dropdown-toggle">
			<strong>Durability Modifier: </strong>
			{{card.durability.modifier}}
		</div>
		<div class="fs-dropdown-panel">
			<div>
			<div class="text-center"><strong>Durability<br />Modifier</strong></div>
				<div fs-numpicker stop-click="1" stop-event
					numvalue="card.durability.modifier"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
			</div>
		</div>
	</div>
</div>