<div ng-if="card.finesse.show" class="fill-width">
	<div fs-dropdown id="card-finesse" class="fill-width" stop-event>
		<div class="fs-dropdown-toggle">
			<strong>Finesse Modifier: </strong>
			{{card.finesse.modifier}}
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<div class="text-center"><strong>Finesse<br />Modifier</strong></div>
				<div fs-numpicker stop-click stop-event
					numvalue="card.finesse.modifier"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
			</div>
		</div>
	</div>
</div>