<div ng-if="card.speed.show" class="fill-width">
	<div fs-dropdown id="card-speed" class="fill-width" stop-event>
		<div class="fs-dropdown-toggle">
			<strong>Speed Modifier: </strong>
			{{card.speed.modifier}}
		</div>
		<div class="fs-dropdown-panel">
			<div>
				<div class="text-center"><strong>Speed<br />Modifier</strong></div>
				<div fs-numpicker stop-click stop-event
					numvalue="card.speed.modifier"
					numvaluemin="0"
					numvaluemax="15"
					numdelay="200"></div>
			</div>
		</div>
	</div>
</div>